[2017-04-07 14:22] ioquatix opened #1 "can't register io with reactor more than once, even in different tasks"
Need to review, spec and test this case. PRs welcome.

[2017-04-07 15:08] ioquatix opened #2 "tasks run synchronously, it might be nice to capture output/result of fiber"
Right now, tasks are resumed directly, but perhaps it would make sense for a fiber to capture the "return value" as it were. I'm not sure if this is possible or how much work would be required.

However, as part of this, handling "return" within an async block also needs to be checked - does the reactor blow up?

[2017-04-07 15:38] ioquatix opened #3 "Allow nested reactors/tasks, improves comparability of APIs"
It would be nice if something like `Reactor.run` was composable and provided some basic synchronisation when nested. This would be useful for having async APIs nest their own reactors, but use the parent's reactor if one was available.

[2017-04-07 15:40] tarcieri commented on #3
Hierarchical selectors should be supportable with nio4r (both libev + Java NIO backends) but not necessarily tested yet

[2017-04-07 23:22] ioquatix commented on #3
That's interesting - how would that work?

The problem right now is implementing a function like this:

[code]

The idea being that you don't need to know how run_server is implemented, but within an existing reactor it's asynchronous. The benefits of this are composability - if you simply call `run_server`, it will work and block while it's working - use it from your top level script, or from a f

[2017-04-07 23:56] ioquatix commented on #2
I've thought about this a bit more. I think adding `Async::Promise` and `Async::Future` might not be a bad idea. But, perhaps in a separate gem?

Finally, it might make sense to add a really light weight synchronisation primitive, `Async::Task#wait`. This would yield the current fiber until the specified task was complete. However, I wouldn't want to support this if it meant overheat in the main r

[2017-04-08 00:08] tarcieri commented on #3
You can add one selector to another as if it were any other selectable type. Hierarchical selectors are supported natively by various OS APIs such as epoll and kqueue.

[2017-04-08 00:10] ioquatix commented on #3
That's awesome - but in order for that to work, we'd also need to support timers?

But I think it's an interesting idea to support in nio4r. Right now, it's not needed to achieve what I want here, I think I can just use the existing reactor if it exists.

[2017-04-08 00:20] ioquatix commented on #1
I've added a spec for this, demonstrating the issue. It's not a bug, but it's a semantic design decision.

[code]

One option would be to add an `unbind` method which removes the socket from the current task and allows it to be used elsewhere for async function calls.

[2017-04-08 00:23] tarcieri commented on #2
This sounds an awful lot like `await` from a standard async/await API

[2017-04-08 00:27] ioquatix commented on #2
Yeah, your right, it's very similar.

[2017-04-08 02:34] ioquatix opened #4 "Stopping tasks and nested tasks"
The initial design of async, didn't track nested tasks. This means that when you stop the parent task, async blocks started in that task wouldn't also be stopped, they'd keep on running. I found in async-dns this wasn't really great - it made it cumbersome to keep track of execution state and stop things.

Ideally, when stopping a task, you kill that task, and any child async blocks. The implicati

[2017-04-08 02:35] ioquatix commented on #4
@tarcieri I'd love to have your feedback on this and whether you think it's sane. It will simplify upstream code a lot, and it also has the potential to improve the reliability of systems which are composed together.

[2017-04-08 02:37] tarcieri commented on #4
I definitely think this is great and important. On JRuby, since Fibers are backed by JVM threads if you don't terminate them you wind up leaking threads /cc @headius

[2017-04-08 12:57] #4 closed

[2017-04-09 02:11] ioquatix commented on #3
Tasks are now nested using a tree structure.

[2017-04-09 02:11] #3 closed

[2017-04-09 02:12] ioquatix commented on #2
The output of a fiber is now captured, but there is no synchronisation mechanism in place. It would probably be sufficient to make a simple Fiber condition variable, which is essentially a queue of fibers waiting on the result, which get sequentially resumed once the result is available.

[2017-04-09 02:16] ioquatix opened #5 "Per-fiber annotations"
I've been thinking it would be nice to have some kind of per-fiber annotation - e.g. what it's currently doing (e.g. `:sleeping`, `:wait_readable`, etc), like a process title. it would help with debugging. I'm just not sure if it's a good idea from the POV of overhead. Perhaps having a mixin which provides debugging functionality which is only loaded if `$DEBUG` is set..?

[2017-04-09 03:50] ioquatix opened #6 "Evaluate cases where resolver is likely to cause blocking behaviour"
Under the hood, ruby often calls `getaddrinfo` to turn things like `localhost` into a `struct sockaddr`. This is often going to be a blocking operation, which will block the entire reactor.

I'd like to enumerate cases where blocking behaviour might be experienced (e.g. `Async::TCPSocket.connect` with a hostname), and figure out a solution.

[2017-04-09 14:06] #2 closed

[2017-04-09 14:34] ioquatix commented on #1
The dangling socket problem is solved using `Task#with` and `Reactor#with`. An unbind method is still not implemented.

[2017-04-09 23:52] tarcieri opened #8 "Logo?"
Want a logo? Perhaps we could adapt the one from https://github.com/socketry/socketry-async somehow

[2017-04-09 23:54] tarcieri commented on #6
The two that immediately come to mind are:

- Failing to receive a response from a local cache
- Timing out talking to upstream servers

[2017-04-10 00:17] ioquatix commented on #8
Yes that would be awesome!!!

[2017-04-10 00:33] ioquatix opened #9 "Get the old team back together"
Hello everyone in no particular order: @halorgium @digitalextremist @e2 @benlangfeld @tarcieri @grantr

I reimplemented here, what I wanted from `celluloid-io`. I bet everyone has moved on in one way or another, but I just wanted to stay thanks for everyone's effort on `celluloid`, and going forward I think there is an opportunity to take the best ideas from `celluloid`, and perhaps build on them

[2017-04-10 00:36] benlangfeld commented on #9
I've somewhat moved on from these sort of projects in Ruby, but I wish you the best of luck!

[2017-04-10 00:51] ioquatix opened #10 "Implement RuboCop across socketry"
This is not something I'd personally want to do, but I'm not against it completely either.

Let's have a discussion here and see where it ends up.

[2017-04-10 00:52] ioquatix commented on #10
@nickcannariato I invite you to follow this issue w.r.t. whitespace handling on github.

[2017-04-10 00:58] ioquatix commented on #5
I've been thinking about this, and I think it makes most sense to keep this out of the direct implementation of this gem. I'd like to think we can have a debug module prepended into the reactor which annotates fibers using a fiber-local variable, e.g.

[code]

We can apply this logic everywhere, it could even be within specific code, e.g.

[code]

One option would be to consider using the last thi

[2017-04-10 01:01] ioquatix commented on #9
It also seems like we might have some new team members: @picatz and @huba

[2017-04-10 01:05] ioquatix commented on #9
Also, just to add, while I feel the current code base is fairly solid, there is every chance a major issue may show up with the design and I am not going to hesitate to rip out and reengineer whatever needs to be done to ensure it has the correct design/semantic model.

[2017-04-10 01:08] ioquatix commented on #6
What we should probably do is provide explicit guarantees about blocking and non-blocking behaviour, and document it.

Additionally, I've filed some bugs with Ruby, which affect this:

https://bugs.ruby-lang.org/issues/13407
https://bugs.ruby-lang.org/issues/13409

[2017-04-10 01:24] tarcieri commented on #5
Celluloid subclassed `Fiber` and added some attributes to it for this sort of thing, FWIW

[2017-04-10 01:42] picatz commented on #10
2-spaces 4-life.

[2017-04-10 01:46] tarcieri commented on #10
2 spaces definitely seems like the Ruby convention:

https://ukupat.github.io/tabs-or-spaces/

![screen shot 2017-04-09 at 6 46 01 pm](https://cloud.githubusercontent.com/assets/797/24843152/d9837398-1d54-11e7-9ef6-70ebe42692af.png)

[2017-04-10 01:56] ioquatix commented on #10
I love that page, it's awesome that someone took the time to make it. Trust me, I'm well aware that most Ruby code uses 2 spaces. Except of course, MRI interpreter itself which is a cluster fuck of tabs and spaces, and let's not forget the standard library, which is also a pretty huge mess. Honestly, even thought the issue was brought up several times with Matz, he just doesn't seem to give a fuck

[2017-04-10 01:59] ioquatix commented on #10
Oh, and the other argument, as discussed here, is that people won't contribute to a project if it's using tabs: https://github.com/ioquatix/rack-freeze/issues/2

Yet, we changed to spaces, and all it did, is made me, the maintainer, less enthusiastic about working on it more (yes, I have a idea for a feature I'd like to add, and yes, I am now in a position where I don't really want to work on that

[2017-04-10 02:04] ioquatix commented on #10
For reference, here is the issue about github not respecting `.editorconfig` which at the very least would help solve some of these issues:

https://github.com/github/markup/issues/1045#issuecomment-292831494

[2017-04-10 02:12] tarcieri commented on #10
For comparison, I'm implementing something in 5 languages right now. I'm using a mixture of 2-spaces (Ruby, TypeScript), 4-spaces (Python, Rust), and tabs (Go). Using a consistent indentation style between projects means less to me than using an indentation style consistent to what's common in the language, and what are the defaults for the linting tools (I'm using e.g. gofmt, rustfmt, tsfmt, and

[2017-04-10 02:18] ioquatix commented on #10
I am going to lock this conversation, I still want contributions, but only from actual members or contributors. My experience in the past is that people see the bandwagon and jump on. So far the conversation has been good, and I want to keep it at that level.

[2017-04-10 02:50] ioquatix commented on #10
@tarcieri I really like what you've said here.

It makes a lot of sense.

I think it helped me understand more of the issue.

One can either choose to be internally consistent (across your own projects) w.r.t. style, or externally consistent (across specific languages).

For me, up to this point, I've always placed more value on being internally consistent, because what I've seen over years, and l

[2017-04-10 03:48] picatz commented on #10
My first thought when I wanted to contribute to stuff was "gotta change dem tabz"; and in general, in order to be more widely appealing, even at the contributor level, I figured it'd be something to think about.

And I'm glad we're doing that! 💃

I don't really think the 2-spaces argument is about more contributions, less bugs, making things easier to maintain completely; and I especially don't st

[2017-04-10 05:42] picatz commented on #8
![lol](http://elkay.scene7.com/is/image/Elkay/BCRA150C_RD?$LK_prod_search_home$)

[2017-04-10 06:34] ioquatix commented on #8
That is hilarious. @huba I'm sure you'll love it too.

[2017-04-11 01:04] huba commented on #8
It's actually not a bad idea. Just make the sink a bit more logo-like.

[2017-04-14 04:41] ioquatix opened #11 "Improvements to TCPServer#accept"
I've been thinking about how we can improve this API.

I like the idea of something like `TCPServer.accept_each do |peer| ....`

Wondering what your though might be @tarcieri

I think it's more canonical ruby than the pythonic `task.with(server.accept) do |peer| ... end while true`

[2017-04-14 14:58] tarcieri commented on #11
You want to monkeypatch `TCPServer`?

[2017-04-14 18:14] picatz opened #12 "Operation: Documentation"
So, with the [branch](https://github.com/socketry/async/tree/yarddoc-ahoy) I just made, I'm attempting to add some inline documentation following the [YARD](http://yardoc.org/) style -- because I think that it's awesome like a possum.

![this is an awesome possum](https://cloud.githubusercontent.com/assets/14850816/25051592/7b9f6942-211b-11e7-913f-e3a8322d254a.gif)

### Some Lil Bumps In Da Road
I

[2017-04-14 18:21] picatz commented on #11
@tarcieri Is it wrong of me to like this idea?

[2017-04-14 23:13] tarcieri commented on #11
I have generally grown to loathe core extensions. My advice before monkeypatching core is to seriously consider if the problem would be better solved by object composition.

If you really want to monkeypatch core, it's probably worth opening an issue on https://bugs.ruby-lang.org and discuss it there. That's not to say you should wait for core to accept your idea, just generally that core extensio

[2017-04-15 02:09] picatz commented on #11
I appreciate the explanation, and I think that makes a lot of sense.

_We should totes do it anyway though amiright?_

[2017-04-15 05:56] ioquatix commented on #11
It's not a monkey patch it sits within the TCPServer wrapper

[2017-04-15 15:16] tarcieri commented on #11
A wrapper is a perfectly fine place to put it

[2017-04-15 15:40] picatz commented on #11
![obligatory picat image](https://cloud.githubusercontent.com/assets/14850816/25064805/3a6a5e40-21d0-11e7-8ab6-799eabef2006.jpg)
_me chilln hur like_

[2017-04-16 14:04] ioquatix commented on #12
Sure :)

[2017-04-16 14:05] ioquatix commented on #12
I am okay with YARD, I've used it on some projects before. I'm fine with whatever works for now.

[2017-04-17 07:27] ioquatix commented on #12
Okay, I've squash merged everything from that branch. I've made quite a few improvements too. Thanks for working on this!

[2017-04-17 14:24] ioquatix commented on #11
Okay, so I thought about this a lot.

@tarcieri you are right, there are fundamental issues with `TCPServer`, `TCPSocket`, and `UDPSocket`. Not to mention, that some of the underlying code of those classes is buggy: https://bugs.ruby-lang.org/issues/13409

So, I revisited `Async::Socket`. I've improved it to the point where it can be easily used for all networking purposes.

I've added `Async::Soc

[2017-04-17 14:24] #11 closed

[2017-04-17 14:26] ioquatix commented on #6
I've thought about this more. I've implemented a generic API on top of Socket, which uses `Addrinfo`. I assume this method blocks when converting to `sockaddr` as it may need to consult DNS/name resolution. This gives a simple point where we may block when converting names into addresses.

[2017-04-17 14:30] tarcieri commented on #6
I can't remember exactly why, but I used `IPSocket.getaddress` here:

https://github.com/socketry/socketry/blob/master/lib/socketry/resolver/system.rb#L26

[2017-04-17 15:00] ioquatix commented on #12
I'm going to close this issue, as we've merged and improved on everything. However, still looking forward to other improvements :)

[2017-04-17 15:00] #12 closed

[2017-04-17 15:37] ioquatix opened #13 "Investigate neverblock"
This gem/code https://github.com/oldmoe/neverblock uses a similar approach but completely modifies the Ruby core classes to be non-blocking. It looks pretty old, but it might be interesting to take a closer look and see how it works.

[2017-04-17 15:38] ioquatix opened #14 "Performance of Fibers"
@tarcieri has raised the good point that Fibers might be expensive. At the very least, we should investigate the memory overhead and performance cost of using Fibers vs another approach.

If it's hard to do a comparison, perhaps we could simply provide benchmarks - number of connections per second/memory usage.

[2017-04-17 15:40] tarcieri commented on #14
If you care about JRuby at all (which perhaps you don't), Fibers are going to be substantially more expensive as they're each backed by native threads.

[2017-04-17 15:41] ioquatix commented on #14
What would be more efficient on JRuby?

[2017-04-17 15:43] tarcieri commented on #14
Callbacks/promises

[2017-05-01 20:06] woto opened #15 "Unable to run examples"
Hi, while trying to run examples getting this results

[code]

[code]

[code]

[2017-05-07 14:00] rfestag commented on #15
Same issue here. I'm interested in playing with this gem for an http2 based server. In my case, I'm running Ruby 2.3

[2017-05-21 05:30] ioquatix commented on #10
I've been working on several gems using spaces for experience. I decided not to change them and just try using spaces for indentation.

I found using spaces for indentation pretty meh. In the gems I took on maintaining, I found a few issues:

- Markdown requires for spaces indented code blocks, but only a single tab. Using spaces for indented code blocks is a bit counter-intuitive if you are expec

[2017-05-21 05:32] ioquatix commented on #10
Now that I maintain both kinds of indentation, honestly, I care even less about it, but day-to-day my preference is still to use tabs as it basically just seems semantically better and I can change the tab width depending on my display resolution. I can't see any way to do that with spaces for indentation.

[2017-05-21 10:21] ioquatix commented on #15
Okay, I'll check what's going on. Sorry about this.

[2017-05-21 11:01] #15 closed

[2017-05-21 11:02] ioquatix commented on #9
Sorry, this wasn't supposed to be closed, typed the wrong number :D

[2017-05-21 11:03] ioquatix commented on #8
Is anyone going to complete the logo :D

[2017-05-21 11:07] ioquatix commented on #15
The examples are fixed. I'm sorry, some of the internals were changing and the examples were not kept up to date. I'm going to take some time this week to review where we are w.r.t. a 1.0 rc. If you are doing some development with async (which is awesome BTW) I'd love to hear your feedback and ideas. In particular, pain points for learning now to use async - what things did you find confusing or h

[2017-05-21 14:51] rfestag commented on #15
No worries, thanks for taking a look. FYI, the echo example doesn't work with the latest released version of the gem, but does work with the latest master. The AIO example does appear to work with both.

I was originally looking to implement an HTTP2 server, and was looking for alternatives to Celluloid (since it offers more than I really need...I'm just interested in the async IO and avoiding cre

[2017-05-21 15:38] picatz commented on #8
![async_logo](https://cloud.githubusercontent.com/assets/14850816/26285250/e39eeb60-3e19-11e7-8a05-3b8dac8be20c.png)

I don't think this is perfect or anything like that. But, like, I figured I'd take a few minutes give a lil' stab at it this morning.

[2017-05-21 16:05] tarcieri commented on #8
LGTM
On Sun, May 21, 2017 at 11:38 AM picatz <notifications@github.com> wrote:

--
Tony Arcieri

[2017-05-21 17:30] rfestag opened #16 "Support for SSL Sockets/Server"
I tried using tcp_socket.rb as an example, but don't fully undesrtand how to add support for SSL sockets. Namely, it looks like tasks assume there is a fileno method, but OpenSSL::SSL::Server doesn't have that. The base TCPServer does though.

I've tried various combinations, but can't seem to get a fileno method that actually proxies down to whatever is supposed to have it. Calling fileno on an A

[2017-05-22 00:10] ioquatix commented on #8
Do you think we should have an April 1st variant with like, 10 taps?

[2017-05-22 00:14] ioquatix commented on #15
Yes, I'll fix all these issues today.

I'm almost certain that in it's current state, Celluloid will never reach v1.0 - which I think is a problem.

Async is like all the good bits of celluloid, minus the actors. I've been thinking I'll implement something like `async-actor` in the future since I like the concept and it's fun to play with. My core interest though is pervasive asynchronous IO.

[2017-05-22 00:37] rfestag commented on #16
I submitted a PR for an idea on how to do this. Open to input:
https://github.com/socketry/async/pull/17

[2017-05-22 04:31] ioquatix commented on #15
So, I've left Async on the back burner for a few weeks while I let my subconscious digest the current API design. Something wasn't sitting right - the way `Reactor#async(*ios)` takes IOs, wraps them and passes them to the task just didn't feel quite right.

I prefer explicit resource management, e.g. `Socket.accept(server_address) do |peer|` where in all cases the server will be closed. e.g. don't

[2017-05-22 04:41] rfestag commented on #15
Good to know. I submitted a PR for adding SSL support, but that is probably unnecessary given these changes. Let me know whenever you release async-socket and I'll see if I can get my HTTP2 server working with it instead.

[2017-05-22 04:50] ioquatix commented on #15
@rfestag Your PR for SSL support is greatly appreciated and it's definitely something that I want. Shortly, the code for `async-socket` will be up and I think if you can rebase your PR on that it would be awesome.

It's also exactly the reason why it can't go into the `async` gem. The SSLSocket depends on OpenSSL. I think it's simply wrong to have the dependency so deeply seated.

[2017-05-22 16:31] tarcieri commented on #15
Have you considered using socketry for this purpose? It has a set of
already-written wrappers, and I would love for there to be a common gem
which is usable for both async I/O and synchronous I/O with thread-safe
timeouts
--
Tony Arcieri

[2017-05-24 04:00] #5 closed

[2017-05-24 06:43] ioquatix commented on #1
It's now possible to use wrapped io in any task within the same reactor. It should be possible to unwrap or dup the IO to a different reactor as needed too.

[2017-05-24 06:43] #1 closed

[2017-05-24 14:05] ioquatix commented on #16
Can we please move this to https://github.com/socketry/async-io

[2017-05-24 14:05] #16 closed

[2017-05-24 21:24] ioquatix commented on #13
@oldmoe touching base here :)

[2017-06-01 22:28] christopheraue commented on #14
I'm developing a library very (very) similar to socketry/async right now and also came across the expensive creation of fibers. I work around it by reusing created fibers at the cost of creating a proc instead.

The basic idea is to create a fiber with an infinite loop running inside it. It is started with a proc to run given as argument. After each iteration of said loop the fiber is put back int

[2017-06-01 23:40] tarcieri commented on #14
Having done something quite similar in Celluloid, this is a recipe for resource leaks. Anything that that uses thread local variables is actually setting them on a fiber. This leads to these variables being set, sometimes lazily (thanks ActiveRecord) then after a fiber is swapped, a similar resource being reinitialized and stored as a thread local. These values persist in the fiber pool, even if t

[2017-06-01 23:41] tarcieri commented on #14
Regarding better options for the JVM, Reactive Streams are the new (as of Java 8) way to do asynchronous I/O:

http://www.reactive-streams.org/

[2017-06-02 01:08] christopheraue commented on #14
Can't the problem with thread vars be handled by manually copying them from fiber to fiber on each switch? And probably clearing them when a fiber is returned to the pool? After all, they are intended to be thread local anyway and the code setting them does not seem to take fibers into account. Otherwise, it would have noticed that the thread vars are indeed fiber local.

[2017-06-02 01:18] tarcieri commented on #14
Celluloid has code to try to clean up thread locals. Unfortunately `Thread` provides no API to actually delete thread locals. Your only option is to set them to `nil`.

Even then, there were ongoing problems with this code not always being run and other ongoing bugs. Avoiding pooling completely eliminates this bugclass, and unless you have a silver bullet, my battle-scar-stricken-hard-won-knowledg

[2017-06-02 11:16] christopheraue commented on #14
Having nullified entries of thread locals shouldn't be a problem since all fibers will share the exact same variables anyway. So, all of them will be set again the next time the thread locals are set for the fiber.

I experienced the problems you described myself. In my case they were always caused by an incomplete control over the code's flow, but not the reuse of fibers. Things were falling thro

[2017-06-02 17:28] tarcieri commented on #14
If you have absolutely perfect code, you will still experience the thread variable name leak (which is also just generally confusing), but perhaps you won't experience other problems. I can't say for sure.

However, testing that your code is "perfect" is pretty much impossible, leaving it open to regress at any time. We experienced several such regressions over the lifetime of Celluloid. And I'm n

[2017-06-02 18:09] christopheraue commented on #14
Alright, I just wanted to sort out which of what you were saying can be attributed to fiber pools with certainty.

[2017-06-21 09:23] ioquatix commented on #6
The core `async` gem has been simplified to the point where these issues are not a concern. However, they will now be a concern of `async-io` and other things that build on `async`. There is little we can do, for example, to avoid blocking the reactor if a user calls `Dir.glob` - except perhaps simplify the usage of thread-pools.

[2017-06-21 09:23] #6 closed

[2017-06-21 09:26] ioquatix commented on #9
I will provide a brief update here just in case any of the original authors are interested.

- I've now implemented a HTTP server [falcon] which builds on [async-http] and [async-io]. It performs well in typical usage scenarios.
- I've extracted general RSpec integrations into [async-rspec].
- I've improved [async-dns].
- I've added [async-container] for forked/threaded server handling.

At this p

[2017-06-21 09:26] #9 closed

[2017-06-21 09:54] ioquatix commented on #13
Bump ;)

[2017-07-29 11:47] ioquatix commented on #14
I implemented a similar stack in C++, culminating in a web server, and got out of 1 core, the same levels of performance that took 8 cores in Ruby. So, Ruby is at least 10x slower than fairly decent C++ code and probably not worse than 100x. I'll provide some more detailed reports.

[2017-07-29 23:47] picatz commented on #14
@ioquatix This is going to be a _bit_ off topic, but have you ever heard of [Crystal](https://crystal-lang.org/)?

I really look forward to your report! 👍

[2017-07-30 02:12] ioquatix commented on #14
Yes, I've been following Crystal. I assume you want to know what I think of it?

I like the idea. I experimented with something similar many years ago (as most programmers do I guess): https://github.com/ioquatix/kai

Language design is very complex.

Crystal's whole program type inference, is trying to do something that is probably impossible in general: either actually unsolvable or practically

[2017-07-30 03:19] picatz commented on #14
I'd love for you to go on. I like yo' stuff.

## Go Similarities
I've found Crystal to be something like if Go and Ruby had a baby.

## Community
One thing that's really caught my interest is the community involvement, especially on places like Gitter where most projects are usually much, much quieter. It's also fairly easy to get started building applications and libraries with a few minor hiccup

[2017-07-30 04:11] ioquatix commented on #14
We can try doing this over Google Hangouts lol

[2017-07-30 04:17] picatz commented on #14
You's right. The internet is cray' like that.

But, definitely!

[2017-08-17 04:13] ioquatix commented on #8
@picatz Can you give me an SVG version?

[2017-08-17 04:14] ioquatix commented on #8
You know, instead of a water drop how about the ruby gem icon?

[2017-08-17 04:39] tarcieri commented on #8
How's this?

https://gist.github.com/tarcieri/e44d34691a9e02030c463b3910c13f87

![async](https://user-images.githubusercontent.com/797/29396212-586d3898-82cb-11e7-9496-ed5397bb86e1.png)

[2017-08-17 04:40] ioquatix commented on #8
Haha that's awesome

[2017-08-20 15:41] picatz commented on #8
I'll work on figuring out the SVG version today.

[2017-08-20 16:15] picatz commented on #8
![logo](https://i.imgur.com/bpETKMa.png)

Was sort of just goof'n around because I didn't like how I was making the sink look and then ended up with this thing. Figured I'd share it.

[2017-08-20 18:27] picatz commented on #8
Here is an SVG version of the logo:
https://gist.github.com/picatz/a6533a5bc50fcfb08f0fbd0bf92aba28

Screen shot of the SVG, in PNG form:
![logo](https://i.imgur.com/wp6U1qQ.png)

The font can be changed to whatever. I like it though.

[2017-08-20 21:54] ioquatix commented on #8
That's awesome!!!!!!11111!!!111

[2017-08-20 21:55] ioquatix commented on #8
Can you tell me the font name so I can grab it?

[2017-08-20 22:21] #8 closed

[2017-08-20 22:21] huba commented on #8
Just turn the text into a path so it's not dependent on the font being available on the viewer's system.

[2017-08-20 22:21] ioquatix commented on #8
yeah that's what I did :) Thanks

[2017-08-20 22:23] ioquatix commented on #8
@picatz I failed to ask you as I just assumed it would be okay, but I'm using the logo you supplied - feel free to add your copyright on the README.md file and perhaps within the logo svg itself - although sometimes this gets stripped out by various editors :(

[2017-08-21 05:43] picatz commented on #8
@ioquatix I'm good with the logo being used 👍

[2017-08-23 00:38] tarcieri commented on #8
Looks nice! 👍

[2017-12-11 06:13] ioquatix commented on #13
I investigate never block. It uses a lot of global state and a thread-pool for scheduling blocking work where evented IO is not possible. This would make sense for system calls which always block, e.g. filesystem, system DNS.

[2017-12-11 06:13] #13 closed

[2017-12-11 06:15] #10 closed

[2018-05-06 03:25] ioquatix commented on #14
I've made a PR to MRI to improve the performance of fiber yield/resume: https://bugs.ruby-lang.org/issues/14739

The next step once this is accepted is to make a PR to improve the reuse of fiber stacks.

[2018-05-22 22:16] #14 closed

[2018-06-19 06:47] 98-f355-f1 opened #22 "Requested to open issue from LightIO discussion re: Ruby 2.5"
I was requested to open an issue for the async io section: forgive me if this is not the correct place.

I am playing around with the gems and the async-http example on the read me page, shows the following errors:
For the async-http, when I run the async-http example.
Traceback (most recent call last):
11: from C:/Ruby25/lib/ruby/gems/2.5.0/gems/async-1.10.0/lib/async/task.rb:74:in block in initi

[2018-07-04 16:52] funny-falcon opened #23 "Use Fiber.transfer instead of Fiber.yield"
`Fiber.yield` is used by Enumerator, so if enumerator will call to some io, it will return to calling fiber instead of being scheduled.
But if scheduler will use `fiber.transfer`, than it will play nicely with Enumerator.

[2018-07-04 22:36] ioquatix commented on #23
I will probably work on this in the next week, but if you are interested, do you think you can make a failing test case to demonstrate the problem? I got the general idea from Ruby bug tracker.

[2018-07-04 22:36] funny-falcon commented on #23
I will try.

[2018-07-04 22:59] ioquatix commented on #23
Don't try to fix this issue as it's pretty deeply embedded in the current API, but if you can provide a failing test case using enumerator it gives us a goal to work towards.

[2018-07-04 23:15] ioquatix commented on #22
Thanks for the report, I've moved it to `async-io` where it's directly relevant.

[2018-07-04 23:15] #22 closed

[2018-07-05 08:17] funny-falcon commented on #23
I was not quite right: Enumerator uses Fiber.yield only in "external iterator" mode.
Still `zip` method uses this mode, for example.
External iterator mode could be used for merging two sequences (ie merge-sort, or other kind of merges).
And some times, it is desirable to use Fiber.resume+Fiber.yield in user code directly.

I added test in #24

[2018-07-05 08:18] ioquatix commented on #23
Thank you so much this is awesome!

[2018-07-05 10:39] ioquatix commented on #23
I will make separate branch for this. There might be some limitations of transfer because it has a direct relationship between reactor and task, but in some cases the relationship is a bit more complex.

https://github.com/socketry/async/tree/fiber-transfer

[2018-07-05 10:53] ioquatix commented on #23
Okay, so I've played around with this a bit.

There are some areas where it might be feasible to use `#transfer`, and I'll try to get your specs passing.

However, now that I think about it, why doesn't `Enumerator` use `transfer`? Because it has all the state, it should be trivial to do so, right? Then, this is a non-issue because normal `Fiber.yield` can't affect it? I'd have to play with the im

[2018-07-05 11:07] ioquatix commented on #23
Here is an example of why this might be impossible:

[code]

In order to use `transfer` successfully, every call to transfer would need to know what to transfer back to. Because of nesting, and the expectation about order of execution, it would be tricky to change `async`, it would be a breaking change to API.

Let me know if you have any thoughts.

[2018-07-05 11:15] ioquatix commented on #23
Here is my attempt to make an `Enumerator` which uses transfer:

[code]

The result I got was not what I expected. `Fiber.yield` travelled back through `transfer`. I didn't think this was acceptable behaviour?

[2018-07-05 11:47] ioquatix commented on #23
It seems like it is possible to emulate `fiber.resume` and `Fiber.yield` using your own "stack":

[code]

It prints out

[code]

Which is the expected order, using `transfer`, but still support nesting yield/resume like semantics.

[2018-07-05 15:03] funny-falcon opened #25 "@ready loop cood be infinite"
https://github.com/socketry/async/blob/68db2862ca1486a540d60ad7c19d39d28ce7d37c/lib/async/reactor.rb#L153-L155

Try this:
[code]

[2018-07-05 15:24] funny-falcon commented on #23
Here is my old attempt: https://gist.github.com/funny-falcon/2023354
But you are right, it is not acceptable.

I think you picked the right way.
I've tried to modify you example to use the fact, that current fiber could be transferred with `@fiber.transfer Fiber.current`, but looks like it has no sense.

[2018-07-05 22:21] ioquatix commented on #25
Yes, I should probably swap it out, do you want to make a PR?

[2018-07-05 23:41] #25 closed

[2018-07-06 00:00] ioquatix commented on #23
I almost got this working, but it require some breaking changes to `async` so unfortunately it requires more work.

I think there will be a performance hit too.

There is one other solution. To make special async enumerator which behaves like normal enumerator but preserves asynchronous semantics.

The `Thread.scheduler` shows that this is possible in a general case. Maybe just not with the curren

[2018-07-06 09:41] funny-falcon commented on #23
Can you at least mention, which difficulties and backward incompatibilities you've found?
Even if I couldn't find the way to deal with, at least they will be documented here.

[2018-07-06 09:50] ioquatix commented on #23
- When enumerator creates it's own Fiber, it isn't associated with an `Async::Task` so when you try to do an asynchronous operation, it will fail because `Task.current` fails. It's a design issue of `async`, but it's one that could be alleviated with the `Thread.scheduler` PR because then all Fibers are able to be scheduled.

- Making a class which looks like an enumerator isn't enough to work, it

[2018-07-06 09:51] ioquatix commented on #23
I hope this help you understand a bit more what I was trying to do.

I had another idea for a solution but I will implement example on `Thread.selector` PR as proof of concept as it depends on that working correctly.

[2018-07-06 10:51] ioquatix commented on #23
Just for the xref: https://github.com/ruby/ruby/pull/1870/commits/e93807672dc81b292d61d7c4fac793a006321c05

[2018-07-06 10:55] funny-falcon commented on #23
I don't see, why `Thread.current.thread_variable_set` and `Thread.current.thread_variable_get` could not be used to correctly substitute `Task.current` usage.
But probably I don't see whole picture.

[2018-07-06 10:57] ioquatix commented on #23
`Task.current` is per-fiber not per-thread, so that cannot work. There is a 1-1 relationship between task and fiber. Fiber itself is a bit too limited, but in the future perhaps Task can be subclass of Fiber. It's an area to explore.

[2018-08-21 00:12] ioquatix commented on #23
@funny-falcon I've been thinking more about this issue.

Do you think it would make sense for `Enumerator` to also use `transfer`?

[2018-09-12 15:11] dblock opened #27 "What's the correct way of doing recurrent timers?"
I am looking for the equivalent of `every` in Celluloid. It was suggested to `loop` and `task.sleep`, however it doesn't behave the same way.

[code]

[code]

that said, it works if both reactor runs are inside of a reactor

[code]

[code]

Is the latter the correct way?

Maybe implementing a higher level timers API could be valuable? It would ensure to start a "parent" reactor, always behave like

[2018-09-16 00:28] ioquatix commented on #27
If you run it like this:

[code]

You are running two sequential reactors and there is no interaction between the two.

[code]

is the correct way.

[code]

This way is risky because it doesn't run in a task context. You should probably avoid it.

[2018-09-21 06:18] graywolf-at-work opened #28 "Is is possible to run reactor's loop iteration by iteration manually?"
^ Title. Is it possible? Based on the code I assume not, but wanted to ask. If my analysis is correct (and it's not possible), would monkey-patching reactor to provide three new methods like (basically splitting `Reactor#run` into three methods)

[code]

do mostly what I want? Calls would look something like (taken from README.md):

[code]

Would this work? I guess my main question is, will the `#

[2018-09-23 04:30] ioquatix commented on #28
If you want to try this another way, you could probably do the following (untested):

[code]

In the past, I've done something similar but there are sometimes useful variants like: `run_once`, `run_until(time)`, etc.

[2018-09-23 10:34] graywolf commented on #28
`#run_once` would be great :) Thanks for the suggestion, this looks like I could avoid monkey-patching reactor all together, so will try it and see what it does. Thanks :)

[2018-09-23 22:16] ioquatix commented on #28
The `#stop` solution might be the simplest and easiest solution to use rather than `#run_once`. Because it gives the flexibility to the user as to the stopping conditions (timeout, number of iterations). However, I'm not adverse to `#run_once` as long as it doesn't make the code more fragile.

One thing I'd like to understand is what `# Do some of my own work` is. In almost every case, you'd simpl

[2018-09-23 22:27] graywolf-at-work commented on #28
I want to use this project from ruby script for weechat. How that works is that I can register hooks to get my callback called every X ms (in my case probably 10, to be determined), "do my work" (in this case I would check if any data arrived and process them) and return from the callback. At that point weechat takes back the control and I'm waiting for another callback call.

However once I leave

[2018-09-23 22:29] ioquatix commented on #28
Ah yep.

I think in the first case, can you try using `#stop`. Can you report back whether that works or not? If not, let's see if we can find another solution (e.g. `#run_once`).

[2018-10-04 00:51] ioquatix commented on #28
How is this working out for you?

[2018-10-08 11:16] ioquatix commented on #28
Okay, there is an example how to do it with current interface.

[2018-10-08 11:37] graywolf-at-work commented on #28
That indeed seems to work! Thank you very much :)

[2018-10-08 11:37] #28 closed

[2018-10-09 00:02] ioquatix commented on #28
You are most welcome, let me know how you get on. The only thing I can think of is it might still make sense to have a "Run one iteration" function rather than the timer... but for now this is the simplest thing I can think of without digging into the code.

[2018-11-03 05:10] ioquatix commented on #23
I've started working on updating Enumerator to use transfer. With this change, this should no longer be a problem.

[2018-11-03 05:10] ioquatix commented on #23
Hopefully it would be out in Ruby 2.6.

[2018-11-03 07:28] ioquatix commented on #23
@nobu just FYI, I am hoping to make a PR to make this work with `::Enumerator`.

[2018-11-03 08:55] ioquatix commented on #23
Okay, I made a basic PR against MRI to make this work. It implements in C, the same as the Ruby pseudo-code above.

Feel free to give me your feedback.

If you think you have a better idea, please let me know.

[2018-11-05 10:39] funny-falcon commented on #23
`Fiber.resume/yield` is to dive into fiber as into assymetric coroutine. Enumerator is assymetric coroutune, that is why `Fiber.resume/yield` is suitable for.

`Fiber.transfer` is for swithing between symmetric coroutines, and "lightweight threads" are symmetric coroutines.

`Fiber.resume/yield` is just `Fiber.transfer` with call stack maintained. Therefore, you can always use `Fiber.transfer` ins

[2018-11-05 11:56] ioquatix commented on #23
Yes, agreed.

Unfortunately, async is not that simple, and it does use yield/resume for flow control between different tasks, not just to reactor and back.

[2018-11-05 15:21] funny-falcon commented on #23
That is huge mistake, and it will bite you.
Never use asymetric mechanism to communicate symmetric coroutines.

[2018-11-05 21:09] ioquatix commented on #23
Why?

[2018-11-06 05:02] ioquatix opened #29 "Support for TruffleRuby"
Following on from https://github.com/oracle/truffleruby/issues/1436 ...

We've migrated `timers` to us `Process.clock_gettime`. There might be other issues too.

You can run a large suite of tests by checking out the `async` source code and running:

`rake external`.

It will run specs for the following code bases: https://github.com/socketry/async/blob/de63b272bc17dc77da4ad0ea7a6a527643b4f95d/Rak

[2018-11-06 05:03] ioquatix commented on #29
Also, I'd like to add support for travis testing across the entire eco-system, but we are currently blocking on https://github.com/travis-ci/travis-ci/issues/9803

[2018-11-06 05:05] funny-falcon commented on #23
You break your own abstractions. It will inevitably lead to puzzles. Attempts to solve that puzzles will lead to hard to follow code. And finally, there will be unsolvable one. (Like this one with Enumerator. But I claim, there will be more).

Probably I missed something, and your abstractions are more complex. But doubdfully more complex abstractions lead to better architecture. Such thing happen

[2018-11-06 05:06] ioquatix commented on #23
The puzzle here is that Enumerator changes the behaviour of `Fiber.yield`. It's not unsolvable, there is a proposed solution that solves the issue entirely.

The abstraction is not any more complex than Fiber `resume/yield` working as expected.

[2018-11-06 05:13] funny-falcon commented on #23
I hope you right. But I don't believe.

[2018-11-06 05:32] ioquatix commented on #23
I invite you to try the code I posted above, and I invite you to try and solve the Enumerator problem. We don't need to depend on beliefs, but we can solve these problems with actual code and discuss the merits of different solutions. The reality is, Enumerator is a problem for any code which uses `Fiber.yield`. I think you can ignore `async` - maybe it's design should change, but it's a separate

[2018-11-06 07:30] deepj commented on #29
I've tried to run a simple rack app on Falcon, but it failed on

[code]

To reproduce:

[code]

Then run it:

[code]

@eregon it ended it up in this issue https://github.com/oracle/truffleruby/issues/1441

[2018-11-06 07:47] ioquatix commented on #29
What can I do to help resolve this issue? @eregon

[2018-11-06 09:55] jjyr commented on #29
All specs run well on my machine after upgrade timers to 4.2.0, I'll make a PR after the Travis issue resolved.

[2018-11-06 10:41] ioquatix commented on #29
I installed truffle ruby 1.0.0rc9 and tried to run specs for async on my laptop. Some pass, some fail, ran into the same `Message not supported: TO_NATIVE (UnsupportedMessageException)` error above.

[2018-11-06 14:46] eregon commented on #29
@deepj  Could you report as a separate issue on the TruffleRuby bug tracker, to make it easier to track?

That `TO_NATIVE` error means a C extension is storing a Ruby object in native memory.
I guess that could be `nio4r`, which gets installed when installing `falcon`.
We'll need to dig deeper to see the actual place and see what can be done about it.
We're also currently investigating a general s

[2018-11-06 14:52] eregon commented on #29
nio4r seems to have a pure-Ruby backend https://github.com/socketry/nio4r#supported-backends
That should work out of the box.
It looks like it can be used by setting `NIO4R_PURE=true`: https://github.com/socketry/nio4r/blob/e84f25ede87dcba8c52c9b86aa9bfbfbff0d9a59/lib/nio.rb#L17

@ioquatix What's the trade-off of using the pure-Ruby backend instead of the C extension? Should TruffleRuby try to sup

[2018-11-06 16:52] deepj commented on #29
@ioquatix With `NIO4R_PURE=true` I can move futher. But `falcon` won't be working since it uses a forking model. So it stopped due this.

[2018-11-06 19:31] ioquatix commented on #29
Can we make an extension to nio4r?

[2018-11-06 19:31] ioquatix commented on #29
It already supports JRuby natively

[2018-11-06 19:34] ioquatix commented on #29
You can start falcon using threaded model too.

[2018-11-06 19:36] deepj commented on #29
@ioquatix How? I couldn't find anything about like that option in Falcon's README.md

[2018-11-06 19:39] ioquatix commented on #29
—help and —threaded

[2018-11-06 20:02] deepj commented on #29
I could move, it seems no issue from async gems perspective so far but I got this
https://github.com/socketry/falcon/issues/33

[2018-11-06 21:19] ioquatix commented on #29
<img width="668" alt="screen shot 2018-11-07 at 10 13 35 am" src="https://user-images.githubusercontent.com/30030/48094286-9c3c0e80-e276-11e8-8eab-a918c38f1b33.png">

Okay, it's working, I just release falcon v0.19.3

[2018-11-07 01:44] ioquatix commented on #29
So, even though basic site is working, there are tons of issues.

- https://github.com/oracle/truffleruby/issues/1456
- https://github.com/oracle/truffleruby/issues/1457
- https://github.com/oracle/truffleruby/issues/1459
- https://github.com/oracle/truffleruby/issues/1460
- https://github.com/oracle/truffleruby/issues/1461

Most of these issues are relating to `async-io`.

I can't make progress u

[2018-11-09 03:54] eregon commented on #29
@ioquatix Thank you for trying and filing the issues!
They seem relatively small problems, and so should be easy to fix :)

[2018-11-09 03:55] ioquatix commented on #29
Please fix them and I will try again @eregon :)

[2018-12-30 11:54] matti opened #31 "README has Async::Reactor.async"
last sentence:

I'm not sure what this means as there is no `.async`

[2018-12-31 13:06] #31 closed

[2018-12-31 13:08] #27 closed

[2018-12-31 13:10] ioquatix commented on #23
After further discussion with @ko1 I found that `Enumerator` with `Fiber` is leaking resources. There is something wrong with the design. I will be working on this over the next couple of months.

[2018-12-31 13:38] ioquatix commented on #29
@eregon I was just following up on this and noticed travis is broken again.

https://travis-ci.org/socketry/async/jobs/473835428

Is this something we can fix?

[2018-12-31 13:54] eregon commented on #29
It's caused by https://travis-ci.community/t/new-gpg-key-for-rvm-releases/1521.
It's an issue between RVM and TravisCI, I cannot do much about it unfortunately.

[2018-12-31 13:55] ioquatix commented on #29
https://github.com/rvm/rvm/issues/4561 is tracking the issue on RVM.

[2019-01-08 04:17] huba opened #32 "Unexpected behaviour with Async::Wrapper."
I am trying to catch some exceptions that might occur inside a task, this is related to [this issue](https://github.com/socketry/async-redis/issues/3#issuecomment-451360411) on async-redis. What I was trying to do essentially boils down to this
[code]

Note `ProtocolError` is just a subclass of `StandardError`. I expected the output of this to be,
[code]
However I got,
[code]
The exception was cau

[2019-01-08 21:14] ioquatix commented on #32
Exception handling for a task is done here:

https://github.com/socketry/async/blob/04abbf3eb82985e362e0adfadb18012a1945644b/lib/async/task.rb#L73-L89

When a task runs synchronously, the exception will bubble up as you expect. But when the task is resumed by the reactor, it will bubble up through `Async::Reactor#run`. Once a task invokes some asynchronous behaviour, it is not possible for the par

[2019-01-09 01:01] huba commented on #32
@ioquatix that makes sense, I did step through the exception handling with a debugger which was helpful. Where I'm having trouble is when there is wrapped io inside the sub-task.
The first example I gave uses `#wait` to synchronize the sub-task and the exception gets caught correctly, that is the code in the `rescue` block is executed, however the exception gets raised again somehow and the progra

[2019-01-09 11:31] ioquatix commented on #32
I see what is going on.

The exception is being raised twice because when the exception is thrown, it triggers the ensure block via the re-raise:

https://github.com/socketry/async/blob/04abbf3eb82985e362e0adfadb18012a1945644b/lib/async/task.rb#L85

That invokes `finish!` which causes the waiting task to resume:

https://github.com/socketry/async/blob/04abbf3eb82985e362e0adfadb18012a1945644b/lib/a

[2019-01-09 11:56] ioquatix commented on #32
Here is the commit: https://github.com/socketry/async/commit/49c07049d5c9be87b58b23226f9e6674fdc8a67e

I haven't released it yet, because I need to figure out if it is a good change. I think it is, but I'm not certain of it.

[2019-01-10 00:17] ioquatix commented on #32
After playing around with it, it caused a regression in falcon. Because `SignalException` was getting swallowed. I decided that `Exception` should go straight up.

Implemented in b9775b300730925cb0829bba801e4876dfb65e1e

[2019-01-10 21:55] ioquatix commented on #32
With the updated code:

[code]

Fails but no error is reported.

You need to write:

[code]

I'm not sure if this is good behaviour. At worst, you write code that fails without realising it because the exception isn't propagated up.

[2019-01-10 21:59] ioquatix commented on #32
Also, calling `#wait` isn't always the ideal solution because it also forces synchronisation.

One option is to log exceptions, but that could get annoying if that's part of what you want to do. Right now, exceptions are logged at `debug` level.

[2019-01-10 22:03] ioquatix commented on #32
One other option would be to make a special class of exception that can go between task boundaries, e.g.

[code]

[2019-01-10 22:08] ioquatix commented on #32
So, your `ProtocolError` would need to be `class ProtocolError < Async::Failure` which would allow it to transit between tasks without being logged or raised.

[2019-01-10 23:08] #32 closed

[2019-01-10 23:12] huba commented on #32
Having to call `#wait` is definitely not a good solution, in that case you might as well rename the gem to `sync`. Having a special class of exceptions is not such a great solution, but I agree that it's probably the best one available.

[2019-01-10 23:32] ioquatix commented on #32
The biggest usability problem is a program which fails but does not report that failure. So we need to avoid that. Actually having exception handling at the task level is kind of odd, but necessary to do some basic stuff like stopping tasks. The question then becomes what exceptions should trigger a task to enter the failed state, and what exceptions should propagate up. It probably needs to be an

[2019-01-12 12:58] ioquatix commented on #32
Okay, what appears to be my final solution is this:

- Tasks behave like promise and capture all exceptions.
- Exceptions are logged according to whether `#wait` was invoked or not. If `#wait` was not invoked, is is logged at level `error`, otherwise it is logged at level `debug`. (so always logged or captured).
- StandardError don't propagate, but Exception does.

May need to consider making Time

[2019-03-13 18:38] bryanp opened #36 "Custom logger"
I'd like to use a custom logger throughout the async library. Currently doing this:

[code]

Can/Should this be supported in a better way?

[2019-03-13 20:20] ioquatix commented on #36
Yeah, I'm working on it.

[2019-03-13 20:20] ioquatix commented on #36
Do you want to submit a PR to make it an attr_accessor if it's not already?

[2019-03-13 20:24] ioquatix commented on #36
Part of what I'm working on is to extract the custom logger out of async: https://github.com/socketry/event

Maybe I'll change it to use built in logger by default, or maybe I'll leave it as event logger. Thoughts?

[2019-03-13 21:02] bryanp commented on #36
Sure, will PR the `attr_accessor` change.

Unsure right off on the built in logger vs event logger. I'll keep thinking on it, but can you explain the rationale for logging being a concern of the main async lib at all?

[2019-03-13 21:03] ioquatix commented on #36
I don't think logging should be a concern of async directly, but it does need a good buffered logger to be sensical to users.

What I mean is that by default the stdlib logger is unbuffered, and if you have multiple threads/processes using the logger the output gets mixed up and impossible to read.

`Event::Logger` uses a buffer and a single call to write to ensure the output logging is synchronis

[2019-03-13 21:16] ioquatix commented on #36
I'm all for small surface area as you probably get that already from the design of async. But logging is a feature for users and it needs to be really good IMHO because it makes a huge difference to knowing what's going on.

I recall having lots of problems with celluloid and the logger, and trying to know the state of a system. That's one of the reasons for the task tree. Ideally we have an inter

[2019-03-13 21:40] bryanp commented on #36
Yep, that makes sense. Thanks for explaining your thinking here!

[2019-03-13 21:44] bryanp commented on #36
Do you have a preference on where to make the `attr_accessor` change? Looks like it could go either in `async/logger.rb` or in `Advise::Console`.

[2019-03-13 21:45] ioquatix commented on #36
There are two options going forward, if you want to make a change right now to the 1.15.x release, I'd be happy with that and I could release it today.

If you want something more future looking, it should go into the new `Event::Console`. Advise is deprecated because someone was willing to give me the gem named `event`.

[2019-03-13 21:46] ioquatix commented on #36
You would not believe the number of logging gems that exist on RubyGems, it's unbelievable. Every variant of log, logger, lumberjack, terminal, console, it used in one way or another for some custom logging system.

[2019-03-13 21:46] ioquatix commented on #36
I guess I'm not much better :p

[2019-03-13 21:47] ioquatix commented on #36
I want to release the event update soon, probably this week. It's just that I want to unify logging across a bunch of different projects to use `Event::Console` and I'm currently wrangling (as discussed above) with an interface that makes sense across all of them.

[2019-03-13 21:49] bryanp commented on #36
Cool, I'll just make the change to `Event::Console`. Not a huge rush.

FWIW I recently moved my project over to `log4r` and have been really happy with it so far.

[2019-03-13 21:50] ioquatix commented on #36
Can you show me some screenshots of log4r?

Can we also support it in the event logging infrastructure, so that we can do really nice structured log output?

[2019-03-13 21:52] ioquatix commented on #36
So, to I've you a bigger perspective on what I'm thinking with `Event` gem - I'm not so interested in just logging text.

What I think is that users are logging structured data, like shell commands, exceptions, object state, etc. To me, there is a native mapping from `object -> console/logger`. But there are other useful mappings, like `object -> msgpack -> network`. I know this is not a new idea,

[2019-03-13 21:55] ioquatix commented on #36
One idea I had was being able to visualise running program state in a web browser by visualising the process/task tree. The way this would be captured is through structured event logging and aggregation. Users could add their own events and then it would be part of the visualisation - e.g.

<img width="321" alt="image" src="https://user-images.githubusercontent.com/30030/54317304-a36d9180-4647-11e

[2019-03-13 21:57] ioquatix commented on #36
Here is an example from Python's `asyncio`: https://github.com/aio-libs/aiomonitor

[2019-03-13 21:59] bryanp commented on #36
I wrote my own formatters for log4r (which is one of the reasons I chose it; so much easier to format how I wanted than in ruby's logger). Here's what the `human` formatter looks like terminal output:

<img width="841" alt="Screenshot 2019-03-13 14 57 30" src="https://user-images.githubusercontent.com/18920/54317449-6b5f4380-45a0-11e9-98ae-563b03f6da78.png">

(there's also `json` and `msgpack`)

[2019-03-13 22:01] ioquatix commented on #36
Love it - so awesome!

So I believe our thinking is in alignment. We both want beautiful human readable errors on the console.

[2019-03-13 22:02] ioquatix commented on #36
Just to save me some time, can you point me at the file where you implement your custom formatter?

[2019-03-13 22:05] bryanp commented on #36
Yes, very much on the same page here! I haven't pushed the new log4r version, but here it is:

* https://gist.github.com/bryanp/0329d58c753f1fa6e99d970960ad006d

And here's the cli formatter for errors:

* https://github.com/pakyow/pakyow/blob/master/pakyow-core/lib/pakyow/error.rb#L234

[2019-03-13 22:06] bryanp commented on #36
Oh, and the cli formatter assumes you're formatting an instance of `Pakyow::Error`.

[2019-03-14 01:24] ioquatix commented on #36
Okay, so I'm preparing to release this.

Right now, you can't change `Async.logger`, it's an alias to `Event::Console.logger`. You an set `Event::Console.logger` to whatever you want.

There is one limitation you might run into.

In order to handle buffering, I've extended the way blocks work.

[code]

This is important to efficiently construct detailed log messages.

I don't know if log4r support

[2019-03-14 01:25] ioquatix commented on #36
In any case, we can now fix some of these issues in the `Event` gem without affecting Async version, which is one reason for making these two concerns separate.

[2019-03-14 01:35] bryanp commented on #36
Excellent. I'll try this out at some point soon.

[2019-03-14 18:15] bryanp commented on #36
Confirmed that log4r _does not_ support the block approach you showed above. Does this mean I won't be able to replace `Event::Console.logger` with a log4r instance?

[2019-03-14 18:33] ioquatix commented on #36
I might see if I can make a PR to Ruby logger to support buffered I/O. Not much core code uses the buffered style so I dilont think it should cause any problems but maybe.

[2019-03-17 19:43] ioquatix opened #37 "NameError: no method to_str"
I'm trying to figure out why this is failing:

[code]

Here is the C code:

https://github.com/socketry/nio4r/blob/master/ext/nio4r/selector.c#L273-L291

Here is TruffleRuby code:

https://github.com/oracle/truffleruby/blob/master/lib/truffle/truffle/cext.rb#L937-L944

cc @eregon

[2019-03-17 19:44] ioquatix commented on #29
Currently TruffleRuby is mostly failing because of https://github.com/socketry/async/issues/37

[2019-03-31 21:51] ioquatix commented on #36
Okay, I think we are good with this.

The final implementation addresses your original concern. We also now support scoped loggers per-task (which also apply to all children tasks). It's probably better that you use task-scoped logger rather than replacing the global logger.

The code is now implemented in the [`console`](https://github.com/socketry/console) gem.

[2019-03-31 21:53] ioquatix commented on #36
In a way, we need to find a common denominator for logging that makes the most sense.

I will add documentation to console to show how to do this.

[2019-03-31 21:53] #36 closed

[2019-03-31 23:01] ioquatix commented on #36
https://github.com/socketry/console#custom-logger-output

[2019-04-06 19:17] eregon commented on #37
@ioquatix Could you report this issue at https://github.com/oracle/truffleruby/issues ?
That makes it easier to track and means other people of the team can work on it :smiley:

[2019-04-06 19:19] eregon commented on #37
In other words, this is most likely a TruffleRuby bug, and generally almost any behavior different from MRI is a bug.

[2019-04-06 20:44] ioquatix commented on #37
I did wonder if it's a bug in how the C code works.

[2019-04-06 20:49] ioquatix commented on #37
It looks like this might be working now, but there are other issues.

https://travis-ci.org/socketry/async/jobs/513351431

[2019-04-06 20:49] #37 closed

[2019-06-07 22:41] ioquatix commented on #29
All tests are now passing with TruffleRuby.

[2019-06-07 22:41] #29 closed

[2019-06-07 23:12] picatz commented on #29
That's awesome @ioquatix 👏

[2019-07-10 06:14] ioquatix opened #39 "Policy for supporting EOL Ruby"
@ganmacs Looks like this is all good now: https://travis-ci.org/socketry/async-http/builds/556647690

Bearing in mind, I want to establish some policy on deprecation of EOL Ruby.

Can you give me some ideas since this seems important to you.

[2019-07-11 02:40] ganmacs commented on #39
Thank you for your great help.

Our rough plan is here https://github.com/fluent/fluentd/issues/2380#issuecomment-485058134 (Sorry, it has not decided exactly and it does not mean we expect that socketry/asyn supports EOL Ruby same as fluentd. it's jsut FYI).

[2019-07-13 15:47] kinnrot opened #40 "question, Make a promise/future like code with async"
Is it possible to wrap up the code with tasks and make it look synchronized? Something similar to synchrony? Or await in JavaScript? Let's say my server gets a request, execute some async io , release his fiber to other consumers, when get result from async it publish a domain event , the controller need to do a non blocking wait to this domain event. Is it something this library can do ? I'm look

[2019-07-13 22:40] ioquatix commented on #40
It sounds like you are asking for something that is exactly why this library was created, so I think the best thing is fo your you to try it out. You can call `Task#wait` and it behaves like a future.

[2019-07-13 22:40] #40 closed

[2019-07-13 22:41] ioquatix commented on #40
You can use `Async::Queue`.

[2019-07-14 04:46] kinnrot commented on #40
The fundamental problem with task wait is that when you subscribe to event
inside a task , the task completes , fit doesn't know to wait for an
event... I'm sure it's possible but not sure about the right way to write
it down.

On Sun, Jul 14, 2019, 01:40 Samuel Williams <notifications@github.com>
wrote:

[2019-07-14 04:48] kinnrot commented on #40
Yeah that sounds like a good idea will do, just to be clear, should I do
queue#pop inside a task , it'll unblock until something is in the queue?

On Sun, Jul 14, 2019, 01:41 Samuel Williams <notifications@github.com>
wrote:

[2019-07-14 06:57] ioquatix commented on #40
Yes. Here is an example: https://github.com/socketry/async/blob/master/examples/queue/producer.rb

[2019-07-24 09:14] ioquatix opened #41 "double resume on ctrl-c"
[code]

[2019-07-24 09:14] ioquatix commented on #41
This needs further investigation.

[2019-08-01 15:30] jpcamara opened #42 "Project sustainability"
Hi there! I've been following this project, falcon and related github properties ever since I first read about them in a ruby weekly awhile back - it's a pretty awesome endeavor.

Feel free to push me somewhere else to ask this - but what do you see as the long-term strategy for sustainability on these different projects? It really seems like 90+% of the work is a product of @ioquatix. That fact i

[2019-08-05 21:02] brandonhilkert opened #43 "Using rb-inotify within Async task"
We're looking to use https://github.com/guard/rb-inotify as a wrapped class that will monitor a path on the filesystem and also invoke other work. We're seeing the monitor get blocked on startup of the Reactor.

Here's a simplified example
[code]

Would we have to use `rb-inotify` [differently](https://github.com/guard/rb-inotify#advanced-usage) for it to be compatible with the reactor?

BTW - the

[2019-08-05 22:37] ioquatix commented on #43
@brandonhilkert I'm happy to hear it's been super useful - if you have commercial use case please consider sponsoring a gem within the eco-system: https://github.com/socketry/community#funding

Does `rb-inotify` expose a file descriptor? If so, you need to put it into an `Async::Wrapper` and wait on it. Otherwise, it will block the task.

The other option is to use a thread to run the `queue.watch

[2019-08-05 22:42] brandonhilkert commented on #43
I assume [your comment here](https://github.com/guard/rb-inotify/issues/66#issuecomment-301967680) would be the idea, right?

[2019-08-05 22:52] ioquatix commented on #43
Yes, that's basically it.

[code]

[2019-08-13 09:06] emiltin opened #44 "ConditionVariable functionality?"
How would you use async to wait for a condition, with a timeout, like ConditionVariable?
E.g. make a task sleep until a counter reach a certain value, or the until the timeout is reached?

[2019-08-13 12:42] ioquatix commented on #44
- `Async::Condition` (direct fiber.resume)
- `Async::Notification` (indirect resume via event loop)
- `Async::Queue` (multiple items, unlimited length)
- `Async::LimitedQueue` (multiple items, fixed length, producer/consumer).

[2019-08-13 13:07] emiltin commented on #44
Great, thanks.

[2019-08-13 13:07] #44 closed

[2019-08-13 13:08] emiltin commented on #44
Working example:
[code]

[2019-08-14 13:47] emiltin opened #45 "deadlock on ctrl-c"
I sometimes get "deadlock; recursive locking (ThreadError)" on ctrl-c in the terminal. I'm on MacOS 10.14.6.

[code]

[2019-08-14 20:25] ioquatix commented on #45
It's a bug with Ruby 2.5

I don't know if it was fixed in 2.6, but the issue should be fixed in 2.7.

Can you try 2.6 and see if it's more reliable?

[2019-08-14 22:57] bryanp commented on #45
FWIW I still encounter this on 2.6.3p62. Hopefully fixed in 2.7!

[2019-08-14 23:00] ioquatix commented on #45
https://bugs.ruby-lang.org/issues/15360

[2019-08-14 23:02] ioquatix commented on #45
I'm going to close this issue but please do report back your experiences, good to know if the problem is still happening in 2.7 for example.

[2019-08-14 23:04] #45 closed

[2019-08-15 11:50] emiltin commented on #45
so far I haven't seen this with ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]

[2019-08-15 13:56] emiltin opened #46 "double resume error on stop"
What could cause these double resume errors when calling stop() on a task?
It seems to be related to having a subtask that's waiting for a Async::Condition and using yield, but I haven't been able to isolate an example. I'm on ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18].

[code]

[2019-08-15 21:56] ioquatix commented on #46
Thanks for the report, we are tracking this on issue #41

[2019-08-15 21:56] #46 closed

[2019-08-15 21:58] ioquatix commented on #41
Let's see if we can make a reproduction.

[2019-08-15 22:09] ioquatix commented on #41
@emiltin if you have a short repro or some way of reproducing, that would be super helpful.

[2019-08-15 22:26] ioquatix commented on #41
Here is the current implementation for `stop`:

[code]

[2019-08-15 22:29] ioquatix commented on #41
I'd like to figure out a repro before just assuming that we can fix the problem, because it would be good to add a spec.

The solution might be to remove the `ensure` block and move it into the `elsif` block, so that we avoid doing it a 2nd time. I'm not sure if this can cause issues. In theory, invoking stop could create more subtasks (e.g. in client `ensure` blocks), but this is unlikely. Maybe

[2019-08-15 23:07] ioquatix commented on #41
I've added a potential fix - we move `@children.each(&:stop)` into `stop!` state transition, and we more clearly define how that can get invoked. State transitions should only get executed once, so it at least fixes that being called multiple times. But I don't think it fixes the root cause.

[2019-08-15 23:27] ioquatix commented on #41
Can you try the branch and see if you can repro the issue? or if you run into any other issues?

[2019-08-16 07:38] emiltin commented on #41
I can try the branch, but will not have time before early next week. Then I can also try to create a reproduction. The error is consistent, but there's quite a bit of code involved, so need to shave it down.

[2019-08-16 07:39] ioquatix commented on #41
That would be awesome.

Is there any code I can try out on my own time too?

[2019-08-16 07:40] emiltin commented on #41
Sorry, the code is not in a public repo yet, although I expect that it will be at a later time.

[2019-08-16 11:36] ioquatix commented on #41
Please make a short repro, this is an important bug to fix. But we can't do it without a repro.

[2019-08-19 12:14] emiltin commented on #41
Hi @ioquatix, sent you an invite for a repo with a reproduction. I removed as much code as I could, but it's not so easy to get it down to something really small. To run: ruby ./repro.rb

[2019-08-19 12:21] emiltin commented on #41
I still get a double resume error with the stop-fix branch.

[2019-08-20 10:15] ioquatix commented on #41
Okay, the repro was helpful, I'm investigating.

[2019-08-20 11:40] ioquatix commented on #41
Okay, here is a repro of your specific case:

[code]

This might seem confusing, but the correct way to fix this is to change `Async::Condition` to `Async::Notification`. I made a PR to the code you shared me.

The reason for this is because there is a difference in the way control flow works.

With `Async::Condition`, when the condition is triggered, you directly transfer to the finer that is wai

[2019-08-20 13:13] emiltin commented on #41
Thank you for investigating!

It's easy to understand that a Condition transfer directly to another fiber, while Notification first goes back to the reactor, and then to the waiting task.

But I don't understanding when and why a Condition will result in a double resume error.

Naively, it would be nice if stopping a task would never result in an error. If using the condition works fine, then why

[2019-08-20 13:16] ioquatix commented on #41
Because:

- Resume parent task
- Wait on condition
- Resume child task
- `condition.signal` -> parent.resume
-> stop
-> parent.resume(stop) (double resume)

I agree, stop should work in all cases. I'll need to think about it.

[2019-08-20 21:49] ioquatix commented on #41
Here are two options I thought of:

- When calling stop, the task and all children are queued up into the reactor to be stopped on the next iteration. Well, the flow control is completely changed and also if the parent creates more children in the mean time, it would not be stopped.
- When calling stop on a child that was already resumed (and has not yielded, so can't be resumed), we instead mark

[2019-08-21 04:56] ioquatix commented on #41
@emiltin do you mind reviewing the PR #47 and tell me what you think?

If we can't stop the fiber now, we schedule it into the reactor to be stopped later.

[2019-08-21 08:51] emiltin commented on #41
Hi,
Your reproduction still results in a double resume error for me, is that intended? I'm using this branch/commit via bundler:
Using async 1.20.1 from https://github.com/socketry/async (at stop-fix@c7153df)

I not familiar with the internals of async, so it's hard for me to comment on the proposed fix. But I would think consumer.stop should simply cause the task (and sub tasks) not be scheduled

[2019-08-21 10:27] ioquatix commented on #41
The repro you give should be fixed on this branch.

[2019-08-21 10:27] ioquatix commented on #41
Make sure you use 97075ddfb4440d339757da967b6f3c00394218a6

[2019-08-21 10:36] emiltin commented on #41
The error still seems to persist, even on commit 97075dd:

[code]

For my own repo, I switched to Async::Notification everywhere for now, which get rids of the double resume error. The slight overhead is not a problem for me currently.

[2019-08-21 10:37] ioquatix commented on #41
I don't think it's using the right gem:

[code]

Maybe try bundle exec?

[2019-08-21 10:45] emiltin commented on #41
You're right.
[code]

[2019-08-21 10:46] ioquatix commented on #41
Great, well, maybe this fix is good enough. I need to spend some more time thinking about it. But it's probably the only way to do it given all the different concerns.

[2019-08-21 10:50] emiltin commented on #41
Super. Sorry I cannot provide more input on the commits at this point.
Ddi you have any quick explanation on why stopping a task would resume it?

[2019-08-21 10:59] ioquatix commented on #41
One of the guarantees that Async tries to provide, short of your computer literally busting into flames, is that `Async` blocks always run to completion, whatever that may be.

e.g.

[code]

When you call stop, it raises an exception within the context of the fiber (resuming it and raising the exception). So, stopping a task causes it to be resumed, but an exception causes it to terminate as quick

[2019-08-21 13:14] emiltin commented on #41
I see. So it would be bad to simply remove the task from the scheduler?

[2019-08-21 20:36] ioquatix commented on #41
Yes. Stop means graceful but immediate shutdown.

[2019-08-22 14:41] emiltin opened #48 "irb and async?"
Hi,
Is it possible to have async tasks run in the background in irb? For example, a server that handles connections in the background, and which you can interact with:

=> #<Server...>

=> "Server running"

=> 0

=> 6

[2019-08-22 14:50] emiltin commented on #48
I guess I can start my Server (and the Async reactor) in a thread. But then I can't use things like waiting for states of the server, which internally use Async::Notification?

[2019-08-22 21:33] ioquatix commented on #48
It should be possible to feed non-blocking IO into IRB, but I haven’t tried it.

@aycabta any thoughts? What interface is required to do it?

[2019-08-23 08:27] emiltin commented on #48
Do you mean running IRB inside an Async block, and using Async IO objects as input/output to IRB?

[2019-08-23 09:13] ioquatix commented on #48
Yes it should be possible to do that. You can check if the IRB call is within an Async task and then use async io stdin/stdout.

[2019-08-23 11:46] emiltin commented on #48
Gave it a try, and it seems to work fairly well:
https://gist.github.com/emiltin/d382d1527d771afa8130b174e323539f

[code]

[code]

[2019-08-23 12:15] emiltin commented on #48
Looking at https://github.com/ruby/irb/blob/master/lib/irb/input-method.rb, encoding() and eof() probably also needs to be implemented.
Another thing that doesn't work is arrow-up to select previous lines, any idea why that is?

[2019-08-23 12:42] emiltin commented on #48
Sleeping can be done with `Async::Task.current.sleep 10`. Would it make sense to have a class method for putting the curent task to sleep, like `Async.sleep`?

[2019-08-23 13:28] emiltin commented on #48
When you have async tasks that output stuff in the background, it can be hard to see what you're typing. I was hoping irb sesions could be used to keep noisy tasks in the background, while you interact with them in a separate session.

But sessions are based on threads and background sessions seems to be put to sleep:

[code]

[2019-08-23 22:45] ioquatix commented on #48
The way I wanted to solve this was by having a separate process connect to the running process from a different terminal.

[2019-08-27 13:29] emiltin opened #49 "using rspec to test async based server"
I have a server class based on async-io. This server class is used to test external clients, using RSpec.

Because the site connects to the sever (not the other way around) and this includes a delay, I want to keep the server running across tests. But unless I stop the reactor at the end of each test, it blocks and no more tests are run. The way I've tried to solve this is to start and stop the re

[2019-08-27 23:38] ioquatix commented on #49
Async is designed this way to ensure tests and code is isolated.

The only way you can work around this is by using `async-container` and maintaining the server in a background thread/process.

[2019-08-28 06:15] emiltin commented on #49
Ok. But is the pattern of starting/stopping the reactor otherwise ok, apart from being somewhat slow?

[2019-08-28 06:22] emiltin commented on #49
If I keep the server in a separate thread/process then I will not be able to use async conditions in my server to wait for e.g. connections or packages, but would instead have to rely on normal thread tools like semaphores, queues, etc?

[2019-08-28 07:07] ioquatix commented on #49
It shouldn't be slow. What is slow?

[2019-08-28 07:13] ioquatix commented on #49
You can make 32,000 top level `Async{}` calls per second. It's not super fast, but it's not slow either.

[code]

[2019-08-28 08:02] emiltin commented on #49
It seems to be when the reactor.run() block ends:

[code]

If I don't perform any thing in the rspec test, it's not slow. Guess it must be related to sockets or conditions having to be stopped?

[2019-08-28 08:05] ioquatix commented on #49
On my computer it's 10x faster - but of course we just comparing specific systems. That being said, I'm definitely keen to make things faster if you see some obvious issue.

[code]

I wonder why it's slower on your system. I will check on my linux server.

[2019-08-28 08:08] emiltin commented on #49
The test sends a request and waits for a response. That ends up waiting for an async condition. If I comment out this line

`@condition.wait`

The time goes down to about 0.00001.

[2019-08-28 08:09] emiltin commented on #49
In fact's in a Notification, not a condition

[2019-08-28 10:21] ioquatix commented on #49
Can you give me a short repro/example?

[2019-08-28 10:22] ioquatix commented on #49
Sorry I didn’t completely understand you before.

[2019-08-28 12:26] emiltin commented on #49
Sent you an invite to a repo that shows the issue. To run:
`$ bundle exec ruby test.rb to `

[2019-09-14 11:20] ioquatix commented on #41
Okay, so I think we've almost got a fix for this. I'll try pushing it tomorrow.

[2019-09-17 08:50] ioquatix commented on #41
This is fixed in v1.21.1 and is done by marking the task to be stopped on the next iteration through the run-loop.

[2019-09-17 08:50] #41 closed

[2019-09-17 09:10] ioquatix commented on #49
I'm taking a look now.

[2019-09-17 09:50] ioquatix commented on #49
Between the time you call `reactor.stop` and the reactor actually stops, you end up handling some network IO. Try printing out the packet from the connector packet receive loop.

The reason why this happens might be an artifact of how the run-loop works and checks @stopped:

[code]

Because of this, @timers.wait yields multiple times, if there are no timers, it then loops because `until @stopped`.

[2019-09-19 06:06] emiltin commented on #49
Glad if the repo was of some use.

[2019-10-08 01:00] ioquatix commented on #49
Okay, there is a fix for this inbound.

[2019-10-08 01:03] ioquatix commented on #39
Thanks for this. I'm not sure I can realistically support older rubies if it becomes a huge maintenance burden because I'm not receiving any compensation for this work, and I don't personally care about old Rubies.

That being said, as long as things keep on working, the only time it would break is when I start using new functionality which is not supported in older Rubies. e.g. `&.` operator.

Ev

[2019-10-08 01:21] #49 closed

[2019-10-25 00:10] ioquatix opened #50 "Sanity checking ``test ` test``"
It would be interesting to explore something which can check the sanity of operations, e.g.

[code]

[2019-10-31 23:23] ioquatix opened #51 "Chaining together async."
I've been playing around with chaining together constructs within async.

For example:

[code]

I haven't released this yet, but the code is in master. Welcome feedback.

[2019-11-01 06:01] BMorearty commented on #51
@ioquatix I noticed you wrote code like this in your [Ruby Gems Source Code Analysis](https://www.youtube.com/watch?v=t3aU9VjaC7E) and was thinking it'd be useful if this were documented.

My feedback is that I think we would have a need for this. It's useful to be able to set a limit on the number of simultaneous async operations, for various reasons including:

* prevent DOS on myself by creatin

[2019-11-01 14:12] bryanp commented on #51
This was my first impression as well. If this is expected to be a common pattern, would it be worth supporting it more directly? Maybe some new object that behaves like a queue but also has a `Barrier` and `Semaphore` internally:

[code]

[2019-11-04 01:20] ioquatix commented on #51
I'm definitely a fan of composition of simple objects, so I'd avoid things like `QueueLikeObject` in the core async code, but have no issue of building those more complex abstractions in user code where it makes sense.

The reason why I ended up with this kind of composition is it naturally emerged from the need to control flow and limits...

The reason why I was unsure about it, is because inject

[2019-12-05 15:16] ioquatix commented on #51
Okay, I am planning to merge this.

[2019-12-05 15:17] #51 closed

[2020-02-02 03:22] ioquatix opened #57 "ret: 2, hash modified during iteration during utopia specs"
[code]

[2020-02-02 03:23] ioquatix commented on #39
My plan is to incrementally deprecate support for EOL rubies when making new minor releases.

[2020-02-02 03:23] #39 closed

[2020-03-18 09:10] olleolleolle opened #60 "CI: Drop Travis CI for GitHub Actions"
I note that there are two CI configured, and that perhaps Travis has more elements to its matrix. GitHub Actions is faster.

- Is there overlap?
- Can some elements be dropped from Travis?

---

- will use https://github.com/ruby/setup-ruby

[2020-03-19 05:38] ioquatix commented on #60
- Use `ruby/setup-ruby`.
- Test on more platforms.
- Don't care about < 2.5

[2020-03-21 11:58] ioquatix commented on #57
I saw it again:

[code]

[2020-03-22 10:40] j-a-m-l opened #61 "Consistency of `Task#current?` and `Task#current`"
I've been surprised when using `Task#current?` and, instead of receiving an object instad of a boolean. I'm probably not the only one used to some conventions when providing methods with and without `?`, so I propose:
 - Renaming `Task#current` to `Task#current!`, since it could raise an error
 - Renaming `Task#current?` to `Task#current`, since it could return the task or nil
 - Creating `Task#cu

[2020-03-22 22:49] ioquatix commented on #61
`Task#current?` does return a boolean in all cases:

[code]

`Task.current` is guaranteed to never be nil, or be an error. It should be used in situations where you expect to be running in a task. `Task.current?` means optionally return nil.

[code]

There is no such thing as `Task#current` and `Task#current?`. Maybe you mean `Task.current` and `Task.current?`. The point of the naming convention i

[2020-03-22 22:49] #61 closed

[2020-03-24 07:51] j-a-m-l commented on #61
Yes, I was referring to `Task.current` and `Task.current?`. I've updated my proposal.

[2020-03-24 08:00] ioquatix commented on #61
So, even if I agree with your assessment (and objectively it's an equally reasonable proposal, but it optimises for different conventions), this is already a public interface which is in use by lots of other gems. So, practically speaking, it's probably impossible to change.

The key point to understand is:

- `Task.current` should never be nil in the contexts in which it's called. The fact it rai

[2020-03-24 09:00] j-a-m-l commented on #61
Your points are completely valid; I though about them too, although, since the method `Task.current!` didn't exist yet, I though that it could be used to have those 3 meanings:
 - `Task.current!`: give me the current `Task` or fail, since I must use it.
 - `Task.current`: give me the current `Task` if there is one, so I could use it to run sub-tasks, instantiate a new `Task`, etc.
 - `Task.current

[2020-03-24 09:10] ioquatix commented on #61
Agree with all your points. Not sure it would even be possible with 2.0.0 as it would break backwards compatibility and you'd have to weight that in terms of what you gain by changing the interface.

Agreed, `Task.current!` would make total sense, except for one point: the default behaviour that I want is actually `Task.current`. Users should not use `Task.current?` or `Task#current?` except in ve

[2020-03-24 09:43] j-a-m-l commented on #61
OK.

About using `Task.current` without raising an error, I was thinking on something like:

[code]

Does this use case make sense?

[2020-03-24 10:39] ioquatix commented on #61
Without trying to be condescending, no, it doesn't make a huge amount of sense.

There are two entry points you should use.

[code]

[code]

You should almost never need to use `Task.current` except in very specific situations. So your code should simply be:

[code]

Just let async take care of the semantics, and you worry about expressing your non-determinsim.

[2020-03-24 12:23] j-a-m-l commented on #61
Sorry, I was thinking about a way to use `Task.current` without raising an error, not a real-world example and I didn't realize that it was quite an awful example.

To be clearer, I was thinking about something as verbose as this:

[code]

But it's completely unnecessary:

[code]

[2020-03-24 12:25] ioquatix commented on #61
If you are running in a nested context and are a few layers deep, a valid pattern is:

[code]

This method will not run outside of an async block.

[2020-03-24 12:45] j-a-m-l commented on #61
OK, thanks for the tip.

[2020-04-03 02:42] tadman opened #62 "Add support to Async::Barrier to wait for the first response"
There are occasions where any one of several Task activities might produce a result and only the first result matters.

Ideally there's a method like `#wait_first` which can return the result of the first task to finish.

In some cases it may be necessary to select the first non-`nil` result, but that could be handled with an `Async::Condition` instead.

[2020-04-05 20:47] emiltin opened #63 "suppress exception logging during testing?"
In some RSpec tests, I expect an async task to timeout and raise Async::TimeoutError. It works, but the task exception prints to the terminal, which I would rather avoid in this case, since it interferes with the RSpec output

[code]

Is there a way to suppress the error output?

[2020-04-05 23:21] ioquatix commented on #63
I've been burnt before from systems which suppress errors during testing.

If the timeout is an expected part of the code, you can catch it and deal with it (e.g. ignore it).

https://github.com/rsmp-nordic/rsmp/blob/c6958824b77380cc3c39f267c568e2a9ef3ee8ba/lib/rsmp/probe.rb#L49-L51

I think you should rescue timeout error.

The 2nd argument to with_timeout is the kind of exception to raise.

A ti

[2020-04-05 23:24] ioquatix commented on #63
By the way, tasks where an exception propagates up, will print the exception, *unless* someone has called `task.wait` before the exception propagated up. So one option to surpress this error would be something like:

[code]

Because you call task.wait, the error should not be printed out. However, I will point out there is a race condition between the code throwing an exception and the user callin

[2020-04-06 12:58] emiltin commented on #63
Thank you for your reply. Yes it's just the output I want to suppress, not the exception. So It's your second bullet: "This is considered normal flow control, the timeout happened which is exceptional, so catch it and handle it (e.g. ignore) appropriately". Just like suggest, I'm using:
[code]

The test pass but the exception is printed. I will try your suggetion above using task.wait, but having

[2020-04-06 13:05] ioquatix commented on #63
[code]

If do_something is actually sleeping for a timeout, then there should be plenty of time for `task.wait` to suppress the error message. So, I actually think it's either a bug in your code, maybe you are not handling the exception correctly.

[2020-04-06 19:34] emiltin commented on #63
Your suggestion still prints exception output, but maybe I'm missing something?

[code]
I think it's because the Async block is run synchronously and task.wait is therefore not called until after the timeout happens?

On the other hand, this code works (the test passes), and it does not prints the exception:
[code]

If the task.sleep is reduced to e.g. 0.5, the test fails as excepted:
[code]

[2020-04-06 22:21] ioquatix commented on #63
Yes, you are right, it's because it's a top level block. There is no way to wait on it because it's synchronous.

One option is to use `async-rspec` and the reactor context.

The other option is to run it in a nested reactor.

I'll think about if I want to introduce a error suppression features. I'm not completely convinced it's a good idea.

[2020-04-07 11:05] emiltin commented on #63
What do you think of the second option above (with the expect inside the Async block)? It seems to work.

[2020-04-17 04:39] ioquatix opened #64 "Add support for RBS"
@soutaro What is the process to create/add RBS to this project? I would love to add it and expose users downstream to it, and maybe catch bugs with it too!

[2020-04-29 21:04] tadman opened #67 "Async::Notification has trouble when signalling with a plain hash object"
The keyword argument causes the hash to be interpreted incorrectly by Ruby:

[code]

It may be better to go all keyword args, like `signal(value:, task:)` to avoid ambiguity here, though that would be a breaking change.

[2020-04-30 01:02] ioquatix commented on #67
This will be fixed in Ruby 3 and is just an unfortunate issue of Ruby  2.x - I'll see if there is anything we can do to fix this, but I've run into this issue before with other libraries. It's one of the motivating factors to remove the implicit conversion of a hash to options.

[2020-05-13 15:37] cderche opened #68 "ArgumentError (unknown keyword: transient)"
Hello - We are trying to use this gem but are coming up against a issue. Please see code below:

[code]

We manage to access a specific zone directly using:
[code]

But we hit the same error when we request the DNS Records for a zone.

[code]

[2020-05-14 01:58] ioquatix commented on #68
This should be fixed in v1.26.1 but I might make some changes in the cloudflare code base to improve how it works.

[2020-05-14 01:59] #68 closed

[2020-05-14 02:14] ioquatix commented on #68
As it stands, the following works:

[code]

I could allow you to omit the `Sync` block by embedding it into `async-rest`, but it might have a performance impact, so I need to review it more carefully.

[2020-05-14 08:24] cderche commented on #68
Thank you!

[2020-05-28 22:39] semaperepelitsa opened #69 "Async::Barrier documentation"
The documentation string for Barrier is copied exactly from Semaphore. Did that happen by mistake?

https://github.com/socketry/async/blob/17ef44fb0e0bedadcdc96dce60fc4f35d74ac6cc/lib/async/barrier.rb#L25-L27

https://github.com/socketry/async/blob/17ef44fb0e0bedadcdc96dce60fc4f35d74ac6cc/lib/async/semaphore.rb#L23-L25

[2020-05-29 01:04] ioquatix commented on #69
Probably.

[2020-06-07 12:09] henrich opened #70 "License of papers/*.pdf"
During converting async gem to deb package, I've found that papers/*.pdf license is unclear.
Is it under OSS license?

If not, remove them is fine for me since it's kind of blocker for uploading Debian repository.

[2020-06-07 14:49] olleolleolle commented on #70
Perhaps they can be removed from the gemspec files listing? That way, they're in the repo but not passed around in the gem.

[2020-06-07 15:06] henrich commented on #70
Thanks, but it's not enough solution since we distribute whole files as orig.tar.{g|x}z files, then I should re-pack upstream changes without those papers for each release. This is because some packages in Debian (and its derivatives) provide their packages like "1.0.0+dfsg-1" (remove non-OSS (= Debian Free Software Guideline) compliant files as its version number says.

It's not convenient for me

[2020-06-07 15:29] ioquatix commented on #70
To be honest, it's probably easier for me to remove it, but let me check it first.

[2020-06-11 14:04] ioquatix commented on #70
Okay I did some research. Those papers were given to me because they were some of the origins of this kind of task switching system. Well, they are not relevant to the current deisgn but I included them for history. At best, the legal status is ambiguous and so I've removed them. I'll make a release shortly.

[2020-06-11 14:04] #70 closed

[2020-06-11 14:07] #69 closed

[2020-06-11 14:09] ioquatix commented on #70
Thanks for bringing this issue to my attention. Fixed in v1.26.2.

[2020-07-04 23:58] ioquatix commented on #67
Matz has confirmed the decision for Ruby 3.0 however it might be possible to work on 2.x by using empty options, `**{}`.

[code]

This should be backwards and forwards compatible.

[2020-07-04 23:58] #67 closed

[2020-07-04 23:59] ioquatix commented on #60
This has been implemented.

[2020-07-04 23:59] #60 closed

[2020-07-05 00:01] ioquatix commented on #23
This issue should be fixed in Ruby 3 using the thread scheduler as the Enumerator will become a blocking context to preserve existing behaviour. We may introduce some kind of "non-blocking" enumerator (or make that the default).

[2020-07-05 00:01] ioquatix commented on #43
Feel free to give me an update. We should add documentation to clarify this use case.

[2020-07-05 00:02] ioquatix commented on #57
This has been fixed by the new linked list implementation of the node hierarchy.

[2020-07-05 00:02] #57 closed

[2020-07-05 00:05] ioquatix commented on #48
@aycabta wondering if you've had time to explore this?

[2020-09-10 13:14] bruno- opened #73 "Async documentation"
Hi,

@ioquatix as we talked on the call the other day, here's my list of questions about async that I wish I could have read somewhere so I can get up to speed faster. I'll add question for any `async-*` gem, not just core `async`.

Anyone can add their own questions. These will be used when building the docs for `async` gems.

Note: I don't expect answers to these questions. I just think it would

[2020-09-16 15:37] alex-klepa opened #74 "Async::Reactor#stop won't stop children tasks"
how to replicate:

**Simple WS server:**
[code]

**Simple ws-client:**
[code]
According to documentation: "Async::Reactor#interrupt can be called safely from a different thread (or signal handler) and will cause the reactor to invoke #stop." but `@reactor.interrupt` has no effect.

[2020-09-16 20:57] ioquatix commented on #74
I'm not sure what you are trying to do, so let's start from a working example:

[code]

[2020-09-16 21:00] ioquatix commented on #74
By the way, here is the simplest example to get what you want:

[code]

[2020-09-16 21:01] alex-klepa commented on #74
Trying to stop reactor safely from a different thread. This:
[code]

[2020-09-16 21:09] ioquatix commented on #74
Firstly, maybe there is a spelling error:

[code]

should be `interrupt`.

Also, I tested this and it works:

[code]

If you set it to sleep 10, it will sleep at least that long, because of how the event loop works currently - maybe something that can be improved.

Taking your example, this seems to work for me:

[code]

[2020-09-16 21:10] ioquatix commented on #74
The final question is, why are you doing this? Because you'd be better off just using a timeout.

[2020-09-16 21:12] alex-klepa commented on #74
Sometimes I need to restart/reconnect ws-client outside reactor

[2020-09-16 21:14] ioquatix commented on #74
If you are managing child processes and/or threads consider using `async-container`.

[2020-09-16 21:15] ioquatix commented on #74
[code]

It runs it in an isolated child process or thread (JRuby/TruffleRuby). Semantics are similar.

[2020-09-16 21:18] alex-klepa commented on #74
Perfect, exactly what I need. Thank you!

[2020-09-16 21:20] ioquatix commented on #74
Containers are blocking and they are not thread safe. They are designed to be used to coordinate multiple child workers. If you use containers, don't do work in the parent process - make child processes for actual work. You can also use `Container#spawn` (1 process/thread) and `Container#run` (one per processor/core).

[2020-09-16 21:21] ioquatix commented on #74
See https://github.com/socketry/async-container/blob/master/lib/async/container/generic.rb for the interface and lack of documentation :)

[2020-09-16 21:22] alex-klepa commented on #74
I see, alright I'll take a look

[2020-09-17 11:53] #74 closed

[2020-09-21 09:29] ioquatix commented on #63
I think the 2nd option is okay but it's still slightly racy. Here are some other options:

- Having an option to make a deferred task, which won't start until the next iteration of the run loop ensuring that your call to `wait` will hit the task before it starts executing, or
- Having an option to suppress error message output (e.g. injecting a custom logger which interleaves output with rspec if

[2020-09-22 08:30] emiltin commented on #63
Thank you for the reply. Maybe a deferred task is most versatile. Would that work something like this?

[code]

[2020-12-09 21:08] emiltin opened #76 "RuntimeError: can't add a new key into hash during iteration"
Probably triggered by incorrect use of async gem somehow, but should async throw a runtime error?

[code]

[2020-12-16 20:11] emiltin opened #78 "Show annotation when logging exception"
Uncaught exceptions in tasks is shown in a format starting with a line like this:
[code]

It would be useful if the task annotation was shown, to quickly identify the failed task.

[2020-12-26 23:25] emiltin opened #84 "Using sync block to guarantee not missing response?"
We're using async in the rsmp gem https://github.com/rsmp-nordic/rsmp which implements the RMSP protocol, used for communicating with traffic lights and other equipment. The gem is used in https://github.com/rsmp-nordic/rsmp_validator for testing the RSMP implementation of equipment.

Tests can be run with equipment emulators running on the same machine, in which case response times can be very sh

[2020-12-27 07:47] ioquatix commented on #84
It would make more sense to use an `Async::Queue` for reading responses/messages. It is "level triggered". It will contain the message until it is read.

Yes, `Async::Notification` (and `Async::Condition`) are edge triggered. So you will miss notifications if you are not waiting at the time the message is received.

Async does provide some guarantees.

A task will mediately be executed until the f

[2020-12-27 07:48] ioquatix commented on #78
It's a nice idea.

[2020-12-27 07:51] ioquatix commented on #78
[code]

Results in:

<img width="973" alt="image" src="https://user-images.githubusercontent.com/30030/103166266-37dcce80-4885-11eb-8fae-4020b3d909b3.png">

[2020-12-27 07:51] ioquatix commented on #78
What do you think?

[2020-12-27 07:51] ioquatix commented on #76
Hmmmm, I thought we solved this issue.

[2020-12-27 07:52] ioquatix commented on #76
Can you please update to the latest version?

[2020-12-27 08:09] emiltin commented on #78
That would work!

I was wondering if it could be in the line:
Async::Task [oid=0x3c] [pid=9016] [2020-12-16 21:01:17 +0100]

But maybe that's output by Ruby and cannot be changed?

[2020-12-27 08:10] emiltin commented on #76
Ok will do that. The above was with asybnc version 1.23.0.

[2020-12-27 10:45] ioquatix commented on #76
The issue should be fixed since we used a linked list for the tree structure which doesn't have the same problem when adding/removing tasks while cleaning up.

[2020-12-27 10:46] ioquatix commented on #78
It's probably more that it's just too long to put on the same line.

[2020-12-27 10:47] ioquatix commented on #78
It's part of the console gem, it can be changed, but I guess we should consider it could be a long annotation.

[2020-12-27 15:34] emiltin commented on #78
Right, it can be long. A line of it's own is probably better.

[2020-12-27 22:27] emiltin commented on #84
OK, sounds like the extra care I'm taking is needed.

Thank you for the suggestion of using an Async::Queue. However there can be several listeners waiting for incoming messages. I'm not sure how that would work with an Async::Queue.

The way it currently works is that there's an Archive, where incoming messages are stored as they arrive. User can add Probes to the archive, passings some filter cr

[2020-12-27 22:55] MatheusRich commented on #23
@ioquatix any plans for this now that ruby 3 is out?

[2020-12-29 19:33] paul opened #85 "Regression to task.children in 1.28"
I have an app that I run with falcon, and when I updated to async ~> 1.28, this test started erroring:

[code]

The error:

[code]

The app accepts data from an HTTP request, then parses the data and dumps it into different buffer workers. Each buffer has a periodic timer task that occasionally flushes the buffer, and the `#stop` method tells each worker to flush the buffer now instead of waiting

[2020-12-29 22:02] emiltin commented on #84
After upgrading to 1.28.2 i had to use reactor.interrupt() instead of reactor.stop() after running each rspec test.

[2020-12-29 23:58] ioquatix commented on #85
If `children` is nil, it's the same as `children` being empty.

So, use this: `task.children&.each(&:stop)`.

[2020-12-30 04:07] ankane opened #86 "wrong number of arguments with Scheduler"
Hey @ioquatix, thanks for this neat project! I was trying out the new scheduler with [this example](https://rubyreferences.github.io/rubychanges/3.0.html#non-blocking-fiber-and-scheduler) and ran into a few errors.

[code]

Stack trace

[code]

It looks like `@reactor` needs to be passed to `Task.new`. After adding that, ran into `undefined method 'resume' for #<Async::Task>`.

[2020-12-30 06:11] ioquatix commented on #86
You need to use the `Async` construct as outlined in the documentation.

[2020-12-30 22:16] paul commented on #85
Sure, in fact, I changed it to `task.traverse(&:stop)`. However, `children` being nil isn't the problem, its that in 1.27 it had the subtasks in it, but in 1.28 its empty. My test goes on to check the output from flushing the buffers, and in `< 1.28` each subtask receives the `#stop`, so the buffer gets flushed, so the output is present. In `1.28`, children is nil/empty, so the subtasks never rece

[2020-12-30 23:21] ankane commented on #86
My bad, from #56, I thought it was an implementation of `Fiber::SchedulerInterface`.

[2020-12-30 23:21] #86 closed

[2020-12-31 05:30] ioquatix commented on #86
It is.

[2020-12-31 05:32] ioquatix commented on #85
Hmmmm, that's odd. So you are saying there are children tasks but they are not registered with the child? What tasks are you expecting?

[2021-01-03 21:26] emiltin commented on #76
closing. might reopen if it happens again.

[2021-01-03 21:26] #76 closed

[2021-01-04 06:09] ioquatix commented on #76
Yes, if you find the issue happening with 1.28.0, please re-open the issue.

[2021-01-07 14:18] bombazook opened #88 "Recurring tasks using Timers inside Async"
Hello. Could you explain the right way to use timers inside Async please?
I'm trying to run several concurrently running recurring tasks and limit concurrence using Async::Semaphore.
I can't use task.sleep to declare recurrence period because it sets new timer on every run (https://github.com/socketry/async/blob/master/lib/async/reactor.rb#L330)
Code below never exit ```task.sleep(10)``` and never

[2021-01-08 00:03] bombazook commented on #88
Well, I found the reason ```sleep``` blocks – I need to yield task in inner infinite loop and return control to reactor:
[code]
But is there a better way to do that?

[2021-01-18 14:26] casperisfine opened #90 "Memory leak in Async::Scheduler (lots of File instances with same file descriptor)"
Apologies for not providing a reproduction script, but I'm having trouble reproducing the issue in isolation.

For context the app where it happens is a Slack bot, so it listen to a websocket.

### Observations

After upgrading to ruby 3.0.0 we observed a major memory leak (we're talking about GiB of RAM used in mere minutes).

Using `ObjectSpace.dump_all`, i was able to pinpoint the leak to `Asyn

[2021-01-18 19:27] igor-makarov opened #91 "StandardError is getting printed to log"
First time here. Me and @jasl are working on adopting `async-http` in CocoaPods.

I've noticed the [following line](https://github.com/socketry/async/blob/2b5d37a9e1eb2d2b1f0d500e5df406d6876c96e6/lib/async/task.rb#L271):
[code]

I've realized that this has been causing some odd behavior, namely [log noise](https://github.com/CocoaPods/Core/pull/669/checks?check_run_id=1720116568#step:7:1417) where

[2021-01-18 19:42] jasl commented on #91
For the context, the WIP PR is https://github.com/CocoaPods/Core/pull/669

The core part of async download file implementation is https://github.com/CocoaPods/Core/blob/3b63a46a5fd185c5eb8f99f02276088991b06178/lib/cocoapods-core/cdn_source.rb#L373-L509

[2021-01-18 20:08] igor-makarov commented on #91
I've added a test in a draft PR:
https://github.com/socketry/async/pull/92/files
Here's the aforementioned log noise:
https://github.com/socketry/async/pull/92/checks#step:4:315

[2021-01-19 13:42] emiltin opened #93 "calling system()"
Can calling out to system() interfere with the async concurrency?

We're seeing a case where an rspec test fails, with the backtrace pointing to code in the previous test. And that previous test uses system() to run a script.

[2021-01-19 13:54] emiltin commented on #84
Thanks for the help. Closing

[2021-01-19 13:54] #84 closed

[2021-01-20 07:53] ioquatix commented on #93
No it shouldn't interfere with async concurrency, but it is a system call we want to make asynchronous in Ruby 3.1.

Can you give me more details?

[2021-01-20 08:22] ioquatix commented on #91
One of the biggest problems I had with celluloid (and some other concurrency frameworks) was that errors could be swallowed by the concurrency "task". IF this happened, your system could be collapsing and you'd never know about it.

When I designed async, I made an explicit choice that errors should be reported by default.

If you have a task like this:

[code]

You will get an error printed out t

[2021-01-20 08:32] jasl commented on #91
I remember I was did like this

[code]

but no effect, maybe I was doing wrong, I'll retry later

[2021-01-20 08:46] ioquatix commented on #91
You are probably calling `task.wait` which is raising the error, e.g.

[code]

[2021-01-20 08:47] emiltin commented on #93
OK.
We're using RSpec and Async to test the RSMP protocol implementation of a traffic light software simulator. The scripts is used to simulate mouse click in the simulator GUI, as a workaround for activating alarms that would otherwise require a physical lamp or piece of equipment. I don't have details on how the script works, but @otterdahl can provide details if needed.
I'm not sure what's goin

[2021-01-20 08:48] emiltin commented on #93
We're tracking the issue in https://github.com/rsmp-nordic/rsmp_validator/issues/47

[2021-01-20 09:17] igor-makarov commented on #91
@ioquatix I've made a PR #92  that exemplifies the problem - here's the relevant snippet:
[code]

Log noise can be found here: https://github.com/socketry/async/pull/92/checks#step:4:315

Can this be done some other way?

[2021-01-20 09:26] igor-makarov commented on #91
@ioquatix The main problem is that the errors gets logged before it's caught, somehow because it's a `StandardError`.

[2021-01-20 10:50] ioquatix commented on #91
That's exactly what's happening.

For `Sync` we could implement the propagate option.

[2021-01-20 11:01] ioquatix commented on #90
It's a bug... we should be caching this.

[2021-01-20 11:02] igor-makarov commented on #91
@ioquatix same happens with `Async`:

[code]

[2021-01-20 11:08] ioquatix commented on #91
`Sync` and `Async` are semantically identical at the top level. It only differs when they are nested.

[2021-01-20 11:08] casperisfine commented on #90
Any idea where the bug is? I mean is it in `async` or in Ruby itself?

[2021-01-20 11:08] ioquatix commented on #91
Here is one potential solution:

https://github.com/socketry/async/pull/94

[2021-01-20 11:12] casperisfine commented on #90
ALso I'm wondering if it wouldn't make more sense for `@wrappers` to be a `WeakMap`.

[2021-01-20 11:23] ioquatix commented on #90
`io` as a key is not working correctly.

[2021-01-21 19:07] paul commented on #85
Sorry, I got distracted with other work projects. I've boiled down a simple test case:

[code]

In < 1.28, `task.children` contained the Timer object(s), and I was able to iterate through them. In `1.28.3`, `children` is empty, and `traverse` does nothing.

Is there a different way to accomplish this? In a test, to ensure all the async tasks that may have been started are given a chance to clean u

[2021-01-21 19:22] paul commented on #85
Well, I guess that example wouldn't have worked anyways, since `task.childen` would be task object, not my Timer objects. I guess I have to keep track of the timer objects that get created in MyApp? Are there lifecycle hooks for tasks, so I can flush the buffer on `stop` or something similar?

[2021-01-21 20:49] ioquatix commented on #85
I will take a look at your example and get back to you.

[2021-01-21 20:58] paul commented on #85
I was poking around at my code a bit more by throwing `puts` all over the place, and I think the problem may be that I have to make an AWS DynamoDB request on the first `#call` (and cache the result), using the regular AWS client lib, which isn't async-aware. So in the test, the `task.wait` doesn't "see" that request is happening, thinks the task is done, and shuts everything down. My timer/buffer

[2021-01-26 07:45] jasl commented on #91
In CocoaPods case, in my opinion, the requirement is, some errors (such as Timeout, SocketError, etc.) which could raising in task is expected,
we don't want to log it or it may made user confusing (because they're expected),
we just want to pop these errors to main context and handle them

[2021-01-27 19:00] orlando-labs opened #96 "Ruby 3.0.0. Uninitialized constant Async::Process::Status"
[code]

Error raises on trying to call method "stop" on Async::Container::Forked instance

[2021-01-27 21:42] #96 closed

[2021-01-27 21:49] ioquatix commented on #96
Thanks for reporting the error.

[2021-01-27 21:50] orlando-labs commented on #96
Thanks for the bullet-fast fix!

[2021-01-27 23:27] ioquatix commented on #90
https://github.com/socketry/async/pull/97 as suggested.

[2021-01-28 03:47] brendar opened #98 "Fiber waiting on ConditionVariable not woken by signal"
It appears that a Fiber waiting on `ConditionVariable#wait` is not woken up when another Fiber calls `ConditionVariable#signal`. I encountered this issue while building a prototype with Falcon + Roda + Sequel on Ruby 3.0, where the issue manifests as a `Sequel::PoolTimeout` whenever there are more fibers running than connections available, even after a connection is returned to the pool. The autho

[2021-01-28 07:29] ioquatix commented on #98
Thanks for your bug report and the included repro, I'll take a look at what's going on.

[2021-01-28 07:48] ioquatix commented on #98
It seems like a bug in `async`.

[2021-01-28 08:02] #98 closed

[2021-01-28 08:12] ioquatix commented on #98
Can you please confirm this is fixed? Thanks.

[2021-01-28 16:40] brendar commented on #98
Thanks for the quick fix! The change definitely fixes this issue and eliminates the `Sequel::PoolTimeout` in my prototype when I run with 1 Falcon process, 1 pooled database connection, and 2 concurrent requests, but I'm seeing `Sequel::PoolTimeout` errors when I increase to 4 concurrent requests. Not sure if it's related, an unrelated bug, or a starvation issue. I'll investigate and report back.

[2021-01-28 20:32] ioquatix commented on #98
Thanks, let me know how you get on, please open a new issue.

[2021-02-01 16:14] brendar opened #99 "Fiber starvation when sharing a connection pool"
Certain access patterns, pool sizes, and numbers of fibers will result in fiber starvation when sharing a connection pool. The starvation occurs when the pool size is smaller than the number of fibers, and the access pattern of using pooled resources and performing IO causes a waiting fiber to only be resumed at times when a pooled resource is unavailable, so it must wait again. The sequence conti

[2021-02-01 16:16] brendar commented on #98
The remaining timeouts turned out to be starvation. Created new issue https://github.com/socketry/async/issues/99

[2021-02-03 14:56] bruno- opened #100 "Scheduler Wrapper objects aren't reused"
I continued playing with PR #97 and I think I discovered another bug in `master` (not related to weakmap from #97).
Here's what happens:

- `Scheduler#from_io` always receives a different `io` object.
- It seems `@wrappers` hash never reuses `Wrapper` objects. It currently just leaks memory.

Here's the spec that reproduces this with `puts` debug statements and comments:

https://github.com/bruno-

[2021-02-03 15:30] bruno- commented on #100
I investigated ruby's Scheduler PR.

I found two places where ruby is creating a new IO object (from a file descriptor) when it invokes `rb_scheduler_io_wait`

1. https://github.com/ruby/ruby/blob/71c746379d5872e250d90ae45c585760afaf9516/io.c#L1384

2. https://github.com/ruby/ruby/blob/71c746379d5872e250d90ae45c585760afaf9516/io.c#L11024

There is one place where `rb_scheduler_io_wait` is called a

[2021-02-04 03:35] ioquatix commented on #100
Yes, I wrote that code haha.

It's ugly but we cannot do anything about it since it's a public C interface which accepts a file descriptor.

A solution is to cache the objects internally but that causes more issues as you've observed.

So in this case, we should ensure all interfaces we have control over are using the code path which provides an IO instance.

[2021-02-04 16:20] bruno- commented on #100
Ok, so just to clarify: this is something that should be addressed in ruby source? If yea, that makes sense.

Do you think it would be worth it to disable `@wrappers` caching in `Async::Scheduler` until this is fixed? I think that currently just leaks memory and file descriptors as there's no reuse, right?

[2021-02-07 04:47] ioquatix commented on #100
I decided to remove the wrapper cache for now.

[2021-02-07 04:47] #100 closed

[2021-02-07 04:51] ioquatix commented on #99
I'm just trying to understand the extent of the issue.

Are you saying there are some cases where the fiber is not fairly scheduled? i.e. in some cases, if two fibers are waiting on the same queue, only one fiber ever makes progress?

[2021-02-07 04:52] ioquatix commented on #99
[code]

you can just use `Console.logger` whichi prints all this information already.

[2021-02-07 05:02] ioquatix commented on #99
Okay, I could reproduce the issue... let me consider what is going on.

[2021-02-07 05:17] ioquatix commented on #99
I tried adding this to the scheduler:

[code]

But it turns out there is never more than one fiber getting unblocked at a time. It seems like the sequence of events always produces a predictable deadlock.

[2021-02-07 05:23] ioquatix commented on #99
[code]

This seems to mitigate the problem by ensuring that the task that releases the pool resource doesn't immediately reacquire it.

[2021-02-07 05:29] ioquatix commented on #99
My guess, is `mutex.unlock` is not actually very fair - it's immediately scheduling the next available task. My guess is due to the order of operations, it's likely that we end up with a predictable order.

I would say that in order for this to work more fairly, we should check the implementation of `mutex.unlock`. Maybe we need to do random order, reverse order or some other order.

A resource po

[2021-02-07 05:29] ioquatix commented on #99
@ko1 do you have any ideas/feedback?

[2021-02-07 05:46] ioquatix commented on #90
Okay, after considering the options, I decided to remove the cache. It's going to be less useful going forward anyway as we look to support one-shot operations with `io_uring`, etc.

[2021-02-07 05:51] ioquatix commented on #90
Can you please check if this is still a problem?

[2021-02-07 05:52] ioquatix commented on #91
If you use `Sync` the error will never be logged. If you use `async` several options are presented to catch those errors before they are logged.

[2021-02-07 05:52] #91 closed

[2021-02-07 05:54] ioquatix commented on #85
You just need to use `ensure`, e.g.

[code]

[2021-02-07 05:57] ioquatix commented on #85
[code]

Does this do what you want?

[2021-02-07 11:44] igor-makarov opened #101 "Segmentation fault in macOS native NIO"
Hi @ioquatix !

I'm not sure what has changed, but I've got a persistent crash (segfault) in `async` while trying it with the [CocoaPods experiments](https://github.com/CocoaPods/Core/pull/669).

It has been working before.

I've tried rolling back the versions of `async`, `async-http`, `nio4r` and the rest of `async-*`. I've also tried using Ruby 3. None of these things helped. Also, the tests on

[2021-02-07 12:44] igor-makarov commented on #101
@ioquatix upon further inspection, this doesn't seem to be limited to macOS, attaching Linux run:
https://github.com/CocoaPods/Core/pull/674/checks?check_run_id=1848931012

[2021-02-07 13:56] igor-makarov commented on #101
@ioquatix I've managed to figure out the issue somehow - it was `Internet#close` that was causing segfaults due to a race condition in how we were calling it.

[2021-02-07 13:56] #101 closed

[2021-02-08 08:56] casperisfine commented on #90
I just tested 1.28.6, and can confirm the memory leak no longer triggers. Thanks!

[2021-02-08 08:57] #90 closed

[2021-02-08 19:53] ioquatix commented on #90
Thanks!

[2021-02-08 20:26] ioquatix commented on #101
Just to check, you aren't using the same internet object on different threads right?

[2021-02-09 06:52] igor-makarov commented on #101
I haven't been creating new threads, does any operation in `async` or `async-http` create threads?

[2021-02-09 08:51] ioquatix commented on #101
Nope.

[2021-02-09 08:51] ioquatix commented on #101
Can you compare the performance between calling `internet#close` and not? It should make better use of persistent connections without it.

[2021-02-09 09:35] igor-makarov commented on #101
Funny thing, if I remove the close it hangs for some reason.

[2021-02-10 04:34] ioquatix commented on #101
Can you tell me how to reproduce it.

[2021-02-10 08:29] #93 closed

[2021-02-10 08:57] igor-makarov commented on #101
I'm not really sure - it's become quite a complex system but we do lots of HTTP2 calls inside a `Sync` block, then lots in another `Sync` block, an so on. I'll try to build a demo some time in the future.

[2021-02-11 00:11] ioquatix commented on #99
Thanks for the discussion. That makes sense.

My gut feeling is, `@waiter.signal` should be more fair, i.e. the implementation could probably do a better job of picking which fiber/thread to resume.

Why is that?

[2021-02-11 03:55] brendar commented on #99
The mutex is only locked during `ResourcePool#acquire`/`release`, so it is unlocked during "Sleep with resource". This allows the starved fiber (`worker-1`) to be resumed, but it finds that `@available_resources` is empty because the resource is still checked out (by the fiber performing "Sleep with resource"). It prints "Pool: Woken by signal but resource unavailable. Waiting again." and calls `@

[2021-02-11 09:35] igor-makarov commented on #101
@ioquatix I've made a repro of the hanging code - please note that this doesn't segfault.
https://github.com/igor-makarov/DemoAsyncHttp

[2021-02-11 09:35] igor-makarov commented on #101
@ioquatix I think the culprit is the redirect - am I using it wrong?

[2021-02-11 15:02] igor-makarov commented on #101
@ioquatix Please note that I've manage to reduce the example further. The hang seems to occur only when redirecting, and only if the `Sync { }` block is invoked more than once.

[2021-02-11 20:59] ioquatix commented on #101
Thanks, I will take a look.

[2021-02-14 04:19] ioquatix commented on #101
@igor-makarov this issue should be fixed in the latest release of `async` and `async-pool`. Can you please update and try it out?

[2021-02-14 09:17] igor-makarov commented on #101
@ioquatix looks like it got resolved!

[2021-02-16 11:59] orlando-labs opened #102 "Net::HTTP fails inside Async block"
Hi, @ioquatix.
There's a call
[code]
in ruby-3.0.0/lib/ruby/3.0.0/net/http.rb:1602

So when it's wrapped into Async block (inside falcon, for example), then it will fail with Async::TimeoutError instead of acting like it's supposed to: "Waits until input is available or times out and returns self or nil when EOF is reached."

Simple reproduction:
[code]

[2021-02-16 20:22] ioquatix commented on #102
Is `wait_readable(0)` supposed to be the same as `wait_readable` with no arguments (i.e. no timeout)?

[2021-02-16 20:22] ioquatix commented on #102
I see how this could be a problem, it should return nil - we can fix this.

[2021-02-16 20:28] orlando-labs commented on #102
Yes, according to [IO#wait_readable doc](https://docs.ruby-lang.org/en/3.0.0/IO.html#method-i-wait_readable)

[2021-02-16 20:48] #102 closed

[2021-02-22 01:40] ioquatix commented on #23
After considering this issue further, I think we need to explore using `transfer` for the scheduler interface.

[2021-03-02 07:32] jsaak opened #104 "Is there a way to unschedule a Fiber? Or stop it from inside?"
Is there a way to unschedule a Fiber? Or stop it from inside?
I have not found a way to do it.
I try to use only the ruby 3 interface, to be portable.

I am writing an MQTT client and my program looks like this:

[code]

The program blocks in one of the recv_bytes() functions.
If the TCP connection is broken, then i get back an empty string from recv(), and in that case I want to exit the second F

[2021-03-02 07:44] jsaak opened #105 "Performance issues with Fiber scheduler when overloading."
I tested some ruby TCP server solutions and, benchmarked the results:

https://github.com/jsaak/ruby3-tcp-server-mini-benchmark

Using Async the latency was below 1ms which is good, however when using the async scheduler it became much slower:

[code]

[2021-03-27 11:58] romiras opened #107 "How to prevent deadlock using Async?"
I wrote a simple demo producer-consumer using Thread(s) and Queue and it works.
Then I rewrote it using Async, it fails due to deadlock. Tried to use `Async::Reactor` instead `while` loop and no luck.

[code]

Can you advise how to fix it?

[code]

[code]

[2021-03-28 20:30] ioquatix commented on #107
It appears to work fine for me on Ruby 3.

[2021-03-28 22:03] romiras commented on #107
@ioquatix
well, you're right. I've checked also in Ruby 3.0.0 and it seems to work...

Just checked, this is output in Ruby 2.7.2:
[code]

[2021-03-28 22:17] romiras commented on #107
@ioquatix, so am I using Async in proper way? Does a problem above belong to Async or Ruby?

[2021-03-29 00:57] ioquatix commented on #107
Ruby 3.0 exposes hooks for blocking operations and Async can handle them.

If you want to write something which is based on async, use `Async::Queue`. Otherwise, if you want to use thread primtives, use them. But if you mix it, and expect concurrency, you better use Ruby 3.

In other words, if you use thread primitives with async on Ruby 2, you will block the reactor.

[2021-03-29 00:58] #107 closed

[2021-04-14 22:00] ioquatix commented on #105
Probably the reason for this is due to some of the overhead from the way Ruby's I/O works in 3.0 and we hope to improve this for 3.1 - however if you want to confirm this, can you please benchmark it using `perf diff`.

[2021-04-14 22:01] ioquatix commented on #104
Yes, you can use `Task#stop`.

[2021-04-15 06:37] jsaak commented on #105
it is specific with your implementation, the libev implementation is not affected:

[code]

[2021-04-15 06:43] jsaak commented on #104
Can you please add a function to the ruby specification?
Task is an async class, and this belongs one level higher, I think.

[2021-04-15 10:36] ioquatix commented on #104
You can use Fiber#raise.

[2021-04-16 00:27] ioquatix commented on #105
Okay, I will take a look, thanks for the details.

[2021-04-23 08:24] YusukeIwaki opened #109 "How to start/end reactor?"
Hi, thank you for providing very awesome async library for Ruby.
I have an issue on using Async in my browser-automation library.

I understand this async library requires root reactor session with `Async { ... }`  or `Async::Reactor.run{ ... }`.
 Sometimes it is hard to define an async session using block, for example:

[code]

Can we define Async reactor session without block?

[2021-04-23 09:51] #109 closed

[2021-04-25 05:04] ioquatix commented on #104
It would be great if you have time to try out `Fiber#raise` to see if it meets your needs, and I think we should have extended testing in Async to ensure it's compatible.

[2021-04-25 05:04] #104 closed

[2021-04-25 05:06] ioquatix commented on #85
Let me know if you require further assistance.

[2021-04-25 05:06] #85 closed

[2021-04-25 05:08] ioquatix commented on #23
Ruby 3 now allows us to mix `resume/yield` for user flow control and `transfer` for scheduling operations. I've got a local branch which I hope to push soon which uses this approach and so far it looks acceptable. More evaluation is required, but I think it's the right approach.

@funny-falcon thanks for your original discussion here. I think we've finally come full circle.

[2021-04-25 15:12] nevans commented on #23
FWIW, I've been using a fun little "trampoline fiber" trick for this in my projects since at least 2.4 (ruby 3.0 breaks this trick, but also makes it *mostly* unnecessary). I'd looked into submitting a PR several times, but concluded that switching async from a yield/resume scheduler to a transferring scheduler was a bigger change than I had time for. But I'll take a look at your commit this week.

[2021-04-25 15:29] nevans commented on #23
Essentially:

* The scheduler always (with one major caveat) transfers into a task's continuation fiber (I make a distinction between a task's root fiber and its continuation fiber, but this could also be modeled as a separate new task).
* detect when you are in a "scheduled" fiber: scheduled fibers use a straight transfer to/from scheduler
* unscheduled fibers resume a new trampoline fiber (which

[2021-04-25 21:05] ioquatix opened #112 "Moving forward with Ruby 3+ only implementation."
https://github.com/socketry/async/issues/23 discusses a fundamental shift in Fiber scheduling which is implemented in https://github.com/socketry/async/pull/111 which may warrant a major version bump, even if `Async` and its "public" interfaces are largely the same and work almost the same way.

My general thought right now is one of:

- Async 1.x -> current approach, Async 2.x -> Ruby 3+ only.
-

[2021-04-25 21:06] ioquatix commented on #23
This is not a bad idea and I've actually implemented a similar idea for Enumerator to avoid breaking it when calling `Fiber.yield`. However, I'm also considering a clean break for Ruby 3+. If you have time and/or thoughts it would be most helpful to discuss it <https://github.com/socketry/async/issues/112>.

[2021-04-30 15:26] paul commented on #85
@ioquatix Sorry, this project got put on the back burner for a bit. I'll let you know if I run into trouble later. Thanks!

[2021-05-04 11:02] prateek-ap opened #113 "No async task available! (RuntimeError)"
Any one have any clue why this exception.
[code]

[2021-05-04 12:08] ioquatix commented on #113
Are you using falcon?

[2021-05-04 12:17] prateek-ap commented on #113
No, I am not using falcon.

[2021-05-04 20:16] ioquatix commented on #113
You will need to run your websocket inside an `Async` block.

[2021-05-05 05:33] prateek-ap commented on #113
I need to use websocket with following functionalities:
Websocket run with
- on_open
- on_close
- on_message
- send_message

**I have my async-websocket implementation like this, start method creates a new thread and runs async-websocket related functions inside that forever.
sizedQueue is a Queue which contains messages to be posted to channel. Exception is occurring at line `@ws.write msg`**
[co

[2021-05-06 12:46] ioquatix commented on #113
Here is a working example:

[code]

[2021-05-06 12:47] #113 closed

[2021-05-08 06:12] ioquatix commented on #112
After discussing this we have the following outcome.

We are planning to define a stable interface (LTS) for Async 1.x and 2.x which will be compatible between releases for at least 3 years. Async 1.x will be EOL when Ruby 3.0 is EOL. Until then, we will maintain feature parity between them.

[2021-05-08 06:12] #112 closed

[2021-05-08 06:28] ioquatix commented on #105
Thanks for creating this benchmark, it's quite a useful one.

I have to normalise the numbers against `simple.c` implementation.

On my desktop, simple.c gives me:

[code]

Currently, the new implementation of async gives me:

[code]

However, this is using the IO wrappers. I want to try with native IO.

[2021-05-08 06:33] ioquatix commented on #105
I need to check this more, but the initial result for using native IO within Async:

[code]

It's about 80% of C implementation.

[code]

[2021-05-08 06:48] ioquatix commented on #105
Increasing the concurrency gives us an improved throughput.

Here is `simple.c`:

[code]

vs async

[code]

I think we need some more work on this. I'll check what `perf` says. However even being 2x slower than C is pretty good.

[2021-05-08 10:23] jsaak commented on #105
These numbers seems much better than what I measured. Good work. I recommend taking a look at libev_scheduler. With sub millisecond max latency it is quite impressive. But 3-5ms is a sane number, i think most applications can work with that.

[2021-05-08 10:26] ioquatix commented on #105
For this small benchmark, max latency should be < 1ms.

Actually, our implementation of the event scheduler should be slightly more efficient than libev. However, my computer is quite old (Intel 4770).

Also, I have some issues with how wrk measures latency. I think we need to see a histogram to understand latency better.

[2021-05-08 10:27] ioquatix commented on #105
By the way, the above number is generated by new `io_uring` implementation. It has synchronous operation, I think we can find some improvements by better management of `sq`.

[2021-05-09 11:45] ioquatix commented on #105
Okay, I have taken `simple.c` and made a direct comparison with our new event handling library:

https://github.com/socketry/event/runs/2538704259?check_suite_focus=true#step:6:23

We could consider adding the others too.

I hope going forward we will attain close to the performance of the C implementation.

[2021-05-09 11:45] #105 closed

[2021-06-04 23:04] ioquatix opened #115 "`Task#stop` should not stop nested transient tasks."
In some cases, transient tasks are created with a parent which could be stopped. But the transient task can outlive this parent task.

There are a couple of options:

- Create the transient task at the same time as the connection pool is created.
- Don't stop transient tasks when the are a child of a task being stopped.
- Always create transient tasks at the top level.

[2021-06-06 01:59] #115 closed

[2021-06-14 02:12] ioquatix opened #117 "Allow `traverse` to return enumerator."
If I recall, I was using #traverse to return a collection of nodes, like `.traverse.map { |node, value|` would but got a `LocalJumpError`. In retrospect, I think I should have proposed an `return enum_for(__method__) { size } unless block_given?` form for #traverse rather than a new method.

_Originally posted by @havenwood in https://github.com/socketry/async/pull/55#issuecomment-858750717_

[2021-06-19 00:59] troex opened #118 "examples/callback/loop.rb is broken"
[code]

I guess it's after d6d80a3d613b359d5fe9c90be63fe64bdb26ba27 commit, I'm trying to get how all your async stuff works together - examples and code are the only way to get it all

[2021-07-16 05:16] #23 closed

[2021-07-27 00:44] #88 closed

[2021-07-27 01:31] ioquatix commented on #88
Timers in the event loop are not precise, but best effort. It's entirely possible it will be off by a large amount.

A problem which can occur with strict reoccurring timers is that if your event loop is not invoking your timers quickly enough, you might end up with a bottleneck of timers. For example, if your event loop takes 10us per iteration and you set a timer once ever 1us, you may start run

[2021-07-31 23:07] bombazook commented on #88
Thank you for such a detailed answer. I appreciate your help.

[2021-09-11 15:50] HoneyryderChuck opened #127 "Thread.scheduler, and how to use the same IO across fibers"
I'm investigating how to have better fiber scheduler support in `httpx`, and am using `async` for my tests.

For that, I wrote the following script, which is based on the `net-http` example described in the ruby 3 announcements:

[code]

When running the script above with `HTTPX_DEBUG=1` on, one can be observe that a new TCP socket will be opened for each request. That happens because `httpx` conn

[2021-09-11 20:15] bruno- commented on #127
You can use gem `async-http` to make multiple HTTP2 requests over a **single** connection.

[code]

Run the program with `CONSOLE_DEBUG=Async::HTTP::Client ruby script.rb`. The debug output should show you only a single connection was made.

[2021-09-12 09:03] HoneyryderChuck commented on #127
I am aware that async has its own client/server implementations, that's not the goal of the issue.

My question is: can I make my http client work with any `Thread.scheduler` and still keep persistent connection support? I picked up `async` to answer that question because it was the first fiber scheduler implementation around, but the "net-http" example doesn't make it clear whether that's possibl

[2021-09-12 20:08] ioquatix commented on #127
@HoneyryderChuck Thanks for your interest in this project.

@bruno- thanks for triaging this issue and offering some working examples.

@HoneyryderChuck your example code looks good and the fact it works out of the box (first example) is a great sign.

As an aside, you might like to consider `async-rspec` which puts a few extra assertions around your tests to ensure safe behaviour.

There are some

[2021-09-13 14:27] HoneyryderChuck commented on #127
Hi @ioquatix

Indeed. I've been investigating `httpx`'s behaviour under ruby 3 new features, and I have to say that testing `Thread.scheduler` is a breeze compared to making it work under ractors, which I've given up until ruby 3.1 .

Yup, that's what it felt like. Knowing what I know about it, I wonder how hard would it be to check for a subscribed monitor in the reactor for a given IO instance t

[2021-09-13 14:27] #127 closed

[2021-10-02 15:53] jsaak commented on #73
I want to integrate a non-blocking C API with the Reactor.
I found Reactor#register, i think it may be able to do it, but i have no idea how.
I working example would be delightful. WITH error handling. Do not just ignore error handling, since that is the most difficult part with these tasks usually.

[2021-10-10 10:14] beatmadsen opened #128 "Allow running an Async block inside a Ractor"
Using Ruby 3.0.2 I'm trying the following in Async 1.30.1 and 2.0.0:
[code]
This is the distilled means of reproducing the issue, and the larger context is that I wish to run two Fiber schedulers in parallel, one for handling input I/O and one for output.

For both mentioned versions you get an exception because you can't access `ENV` from inside the non-main ractor.

Error message in 1.30.1 :
[co

[2021-10-10 10:19] beatmadsen commented on #128
One potential solution would be to allow the injection of a sharable duplicate of ENV like so:
[code]

[2021-10-10 21:20] ioquatix commented on #128
There are lots of places where `ENV` can provide an override from a default model, such as which event loop backend to use, etc. `ENV` is being used as a proxy for global defaults.

To be frank, I agree with your position that we should avoid using `ENV` because you are right it is shared mutable state. In addition to your points, mutating `ENV` is considered risky at best (thread unsafe) - and ge

[2021-11-17 23:17] ioquatix commented on #128
What about something like this:

[code]

It resolves the environment variables at load time which should be more predictable.

[2021-12-04 13:33] beatmadsen commented on #128
Very nice. Don't think you need the `&block` arg since you're never interacting with it.

[2021-12-10 18:26] dishcandanty opened #134 "Docs no longer working - Github Pages 404"
Not seeing any other issues on this, so figured I'd create one. Currently the docs link in the readme is 404ing. Last broken commit?

https://socketry.github.io/async/

![image](https://user-images.githubusercontent.com/2327777/145623385-4bff11ce-4858-4faa-b001-5549fa11a356.png)

[2021-12-10 21:07] ioquatix commented on #134
Oops I'll sort it out, thanks!

[2021-12-25 04:46] ioquatix commented on #134
This is now fixed, thanks for your report.

[2021-12-25 04:46] #134 closed

[2021-12-25 05:23] ioquatix commented on #48
This is now fixed in Async 2.0.

[2021-12-25 05:23] #48 closed

[2021-12-30 06:06] sivagollapalli opened #136 "latest async 2.0 not compatible with Ruby 2.7.0"
[code]

[2021-12-31 01:18] ioquatix commented on #136
Yes, you will need to use Async 1.x for Ruby 2.7. Maybe we need to add a version dependency for Async 2.0 otherwise Rubygems cannot cope with it.

[2021-12-31 06:20] sivagollapalli commented on #136
So, is there any plan to support 2.7 or we have to switch to Ruby 3 to use async 2.0 ?

[2022-01-02 10:21] ioquatix commented on #136
Async 1.0 and Async 2.0 are the same interface, but one is for Ruby without the fiber scheduler and one is for Ruby with the fiber scheduler.e

[2022-01-06 16:12] machty opened #137 "Simple example with `puts` hangs depending on whether newlines included"
Ruby 3.1.0, async 2.0.0

There's a high probably that this isn't actually a bug, but in case it is:

This example works:

[code]

and produces the following

[code]

But the following example, which simply removes the newlines, hangs:

[code]

Here's the output it produces before it hangs:

[code]

I'm guessing this has something to do with sharing the stdout IO object between Fibers, and that new

[2022-01-07 03:55] fredngo commented on #137
Also Ruby 3.1.0, async 2.0.0

I can replicate and confirm this problem with the `sleepy` example from the [docs](https://socketry.github.io/async/guides/getting-started/index.html#creating-tasks):

[code]

As it is written, the example hangs. If I change line 6 to include a `\n`:

[code]

Then the script runs without hanging.

[2022-01-08 05:19] ioquatix commented on #137
Interesting, I'll check it.

This is all very new stuff, so it's chance there is bug. If so, we can try to fix it in 3.1.1.

[2022-01-08 06:51] ioquatix commented on #137
After fixing the debug selector, I get this:

[code]

It happens because Ruby internally is racing on `$stdout`. I'll think about how to deal with it.

[2022-01-08 08:23] machty commented on #137
Why wouldn't I be able to trigger the same issue with just fibers? e.g.

[code]

[2022-01-08 08:24] ioquatix commented on #137
Because there is no multiplexing.

Ruby has an internal IO lock, but it doesn't hold it for the whole operation which seems like a poor choice, because this means `puts` can interleave and we ultimately have more locking overhead since each chunk output acquires and releases the lock.

[2022-01-08 08:28] machty commented on #137
I'm sorry, what do you mean by multiplexing, and what about Async (which runs on Fibers) would enable multiplexing, whereas the raw Fiber example wouldn't?

[2022-01-08 09:31] ioquatix commented on #137
All IO operations (including `puts`) are multiplexed when using the fiber scheduler, `puts` internally is broken up into multiple writes. Whether it should be that way or not is another question (probably it should be atomic).

[2022-01-08 10:45] machty commented on #137
Thank you, I think I have a better sense of what you mean by multiplexing.

This is probably information overload, but it's helping me learn and maybe it'll help debug -- Here are some more simplified examples that demonstrate some different behaviors:

[code]

Here's a simple Async task with two newlined `puts` calls:

[code]

This outputs

[code]

The following produces the same output as above.

[2022-01-08 11:09] ioquatix commented on #137
It's not good practice to write to the same IO from different fibers/threads generally.

`IO#puts "x"` internally corresponds to the following operations:

[code]

This internally maps to `rb_writev_internal` with `io.c`:

https://github.com/ruby/ruby/blob/0ca00e2cb74f9d07d27844d97c29c208caab95a7/io.c#L1180-L1200

However the fiber scheduler doesn't support io vectors at this time... we might add

[2022-01-08 11:10] ioquatix commented on #137
The first part of the fix is to move the `write_lock` allocation out into a function so we can call it in other places: https://github.com/ruby/ruby/commit/0ca00e2cb74f9d07d27844d97c29c208caab95a7

[2022-01-08 11:38] machty commented on #137
I really appreciate your helpful explanations.

`B) io_wait(WRITABLE) -> overwrites (A)`

What exactly is being "overwritten" here?

[2022-01-08 12:49] ioquatix commented on #137
https://www.freebsd.org/cgi/man.cgi?query=kqueue&sektion=2

kqueue is very limited in this regard, it won't even report an error like `epoll` does. It simply overwrites the user data which contains the fiber pointer. So the previous `io_waitt` would never be triggered.

[2022-01-08 13:08] ioquatix commented on #137
https://github.com/ruby/ruby/pull/5419

[2022-01-08 23:30] machty commented on #137
How can I use the newly fixed bug selector to debug what I think is a similar issue in my Rails rspec suite?

[code]

or something similar?

[2022-01-09 12:49] machty commented on #137
@ioquatix just wanted to share that I just built against your Ruby PR and I still seem to be getting the same behavior:

[code]

This outputs the following and hangs

[code]

[2022-01-09 21:04] ioquatix commented on #137
Can you try the latest version, it's working for me:

[code]

[2022-01-09 22:12] machty commented on #137
@ioquatix When I tested earlier, it was using ruby-install and building the local source on your checked out branch w commit `60af64b25b`. It's still behaving the same for me (are you sure you used the exact example in my most recently commit, with newlines omitted?), but now I'm trying to directly `make install`, following the instructions in `hacking.md` and I'm just getting stuck on these readl

[2022-01-10 00:13] machty commented on #137
@ioquatix OK I got the build working again, and I'm still getting the hanging behavior:

[code]

[2022-01-10 01:32] ioquatix commented on #137
Thanks okay I'll take a look.

[2022-01-10 01:33] ioquatix commented on #137
Can you tell me `ruby --version`?

[2022-01-10 10:34] machty commented on #137
Here's me running the whole thing include the ruby --version at the top:

[code]

[2022-01-10 20:09] ioquatix commented on #137
Can you please try commit c1ccfa383acbf42dbeaeb0dd38fd7d72d59fecd6

[2022-01-10 20:30] ioquatix commented on #137
I could reproduce the issue so I'll check it again.

[2022-01-10 20:41] jaredcwhite commented on #137
I think I just got bit by this too with Ruby 3.1 and Async 2.0. Suddenly log statements in different fibers are missing newlines and then it hangs, stuck on the same `scheduler.rb:224` line. Fine with downgrading to 1.9 for now, will keep on eye on this. Thanks :)

[2022-01-10 20:54] ioquatix commented on #137
I'm going to see if we can roll this into 3.1.1 but it might be more systematic, just trying to triage the issue right now.

[2022-01-12 09:36] machty commented on #137
I don't know if this is helpful or not, but if the suspect issue is due to race conditions in kqueue or some other io backend, wouldn't I also be able to reproduce that with threads?

Here's piece of code that spins up a bunch of threads that `puts` a random number:

[code]

I remember this used to cause mangled output where some of the `puts` would end up on the same line, but ever since 2.5.0 (a

[2022-01-12 15:37] mscrivo opened #138 "Async 2.0 issue"
Sorry for the extremely vague title, but I'm not even sure what the issue is yet, so I couldn't come up with a better one.

We have some code that uses a number of async tasks to fetch items from S3 in parallel, that roughly looks like this:

[code]

This has been working great with async < 2. As soon as I tried upgrading to 2.0, we saw this in our S3 metrics:

<img width="444" alt="image" src="ht

[2022-01-12 16:24] travisbell commented on #138
Hey @mscrivo odd timing! I recently layered in some Async calls around my S3 usage and am also randomly getting these `Errno::EPERM` errors. I haven't been able to understand them. Unlike you however, I didn't start with `1.x` and have only started with the `2.0` version.

[2022-01-13 00:32] ioquatix commented on #138
Oh no, that's not a good picture!

A lot of the code path is new so there will be some pain points like this, thanks for bringing it to my attention.

[code]

This looks like a case where we are being overly optimistic around whether Linux can handle file IO using `epoll`. This shouldn't normally be an issue but let me try to reproduce the issue locally.

[2022-01-13 03:22] ioquatix commented on #137
The problem is `kqueue` can't handle multiple events for the same file descriptor with different user data. I think I'm going to have to rework this to allow it by tracking when this situation occurs and queueing up fibers, because there are going to be too many race conditions which lead to this situation.

Basically:

[code]

The 2nd registration clobbers the first.

[2022-01-13 20:45] travisbell commented on #138
Your instincts look good:

[code]

[2022-01-13 22:04] emiltin commented on #137
thanks for the great work on async 2.0. i have the same issue here after trying upgrading to 2.0 and ruby 3.1 on os x - newlines missing from output and puts() hanging.

appending "\n" to strings before put()ing them seem to work as a workaround.

[2022-01-13 22:19] emiltin opened #139 "undefined method `push' for nil:NilClass with async 2.0"
Hi,
After upgrade to async 2.0 and ruby 3.1.0, I get this error:

[code]

[2022-01-14 07:55] emiltin commented on #139
Here's a reduction:

[code]

=>

[code]

[2022-01-14 08:06] emiltin commented on #48
Goods news!
How is it used? If I just use an Async block, it only returns once it's complete, as expected.

[code]

How can I run async tasks, while interacting with irb at the same time?

[2022-01-14 08:20] emiltin commented on #48
hi @bruno thank you, I just found it too! it basically show want i would like to do, but it seems to be a demo running a customized version of irb? at least i can't reproduce the behaviour with the standard irb in ruby 3.1.0. `Async { binding.irb }` blocks.

[2022-01-14 09:12] ioquatix commented on #48
There was an unfortunate bug and this will be fixed in Ruby 3.1.1.

[2022-01-14 18:28] machty commented on #137
I believe the root issue might be fixed here https://github.com/socketry/io-event/pull/20

[2022-01-15 00:59] ioquatix commented on #137
I believe this should be addressed by `io-event` v1.0.2 - can you please test it?

[2022-01-15 01:03] pbstriker38 commented on #137
I'm on `io-event` v1.0.2 and do not see this issue.

[2022-01-15 03:36] ioquatix commented on #139
https://github.com/socketry/async/blob/main/lib/async/reactor.rb#L23-L40

Basically, the `Async::Reactor` sets itself to be the current scheduler when it's allocated. In the past this was done before calling `Async::Reactor#run` but it creates some life cycle issues. Maybe we can warn on this usage, but basically combining it the way you have is invalid.

[2022-01-15 03:37] ioquatix commented on #139
What we could do is make the `Async{}` block hook up to the current reactor using `Fiber.schedule` - this would at least allow the above code to work. I'll think about whether this is possible.

[2022-01-15 05:47] ioquatix commented on #138
Can you tell me are you redirecting stderr to a file?

[2022-01-15 07:10] emiltin commented on #139
Thank you for taking a look. My usage can be fixed by changing to:

[code]

But conceptually, is it wrong to create multiple reactors? I would think `Async {}` is similar to creating a reactor and running it, if called outside an existing reactor?

[2022-01-15 17:22] travisbell commented on #138
Yes, I am.

[2022-01-15 17:39] jaredcwhite commented on #137
Unfortunately v1.0.2 of `io-event` didn't fully resolve the issue for me…it's adding a widely varying number of additional seconds to the build process and the output is strange. The build process with async 1.30.1:

[code]

and with async 2.0.0 + io-event 1.0.2:

[code]

This is when using `ruby 3.1.0p0 (2021-12-25 revision fb4df44d16) [arm64-darwin21]`.

[2022-01-15 21:47] ioquatix commented on #139
The scope of a reactor begins on the thread it is created on and ends when the thread exits or you call close. I should write some conceptual documentation as this scope has changed due to the way the fiber scheduler works. We are heading towards a world where "Async" as a bespoke interface is less important (by design).

As an example:

[code]

is the non-Async interface way of spinning up tasks

[2022-01-15 23:50] emiltin commented on #139
I admit I probably need to learn more about the fiber scheduler to really understand your latest reply. But If understand correctly, only one reactor can be set a the fiber scheduler, for each thread?

If a reactor can only set it self as the scheduler when it's created, then when you create a new reactor, previously created reactors cannot be used anymore.

I think the solution is either to make

[2022-01-15 23:57] emiltin opened #140 "waiting for all subtasks?"
How can I wait for a task and all it's subtasks? It sems calling wait() doesn't wait for subtasks:

[code]
=>
:b
:a

[2022-01-16 02:23] machty commented on #137
@jaredcwhite is the hanging issue fixed at least?

[2022-01-16 03:08] machty commented on #137
@ioquatix Did some poking around on your Ruby PR and Ruby io in general, maybe this helps:

When I boot irb, `$stdout.sync` == `true`, i.e. $stdout is initialized for synchronous IO (immediately flush to OS after write).

If I set `$stdout.sync = false` before proceeding with the non-newline example we've been using in this issue, I get clean output:

[code]

I believe the root cause is that when

[2022-01-16 09:22] ioquatix commented on #140
https://github.com/socketry/async/pull/89

However it may be risky as you don't control all sub-tasks.

[2022-01-16 13:36] emiltin commented on #140
Thanks. Since my need for this is in an RSpec testing context, the risk is minimal, so I don't mind simply iterating subtasks and waiting fot them in turn.

[2022-01-16 13:36] #140 closed

[2022-01-16 14:47] machty commented on #137
I implemented the change I described above here and it fixes the issue (it produces the clean non-mangled output [and doesn't hang]) https://github.com/ruby/ruby/commit/756b25466fda0c829498853cbd13c8ac97288bab

Output

[code]

[2022-01-16 17:39] emiltin commented on #140
Task#stop seems to kill all sub tasks?

[2022-01-16 20:57] ioquatix commented on #140
Yes that's correct. This is used by `async-rspec` gem if you want an example:

https://github.com/socketry/async-rspec/blob/66f0ac85218d087b7cc4a60736f2bf8d761acc76/lib/async/rspec/reactor.rb#L63

[2022-01-16 21:02] ioquatix commented on #139
Yes, correct.

Not only that, but there is a shut down process, so any tasks will be terminated.

The reason why we don't do that is so the following works:
[code]

[2022-01-16 21:14] ioquatix commented on #138
Okay I should be able to reproduce this.

[2022-01-17 12:12] yassenb opened #141 "Async 2.0 requires Ruby version 3.1"
There should be no reason to require `>= 3.1.0` instead of `>= 3.0.3`. The change was introduced with https://github.com/socketry/async/commit/d16f7fad5859dfd8f731388ce98eea2b42f55501 which doesn't really make sense since `io-event` itself requires only `>= 3.0`

[2022-01-17 12:51] ioquatix commented on #141
Yes you are correct and I haven't had a chance to address this yet.

[2022-02-11 14:54] emiltin opened #146 "Docs: Task#result does not re-raise exceptions"
The 'Exceptions' section of the documentation:
https://socketry.github.io/async/guides/getting-started/index.html#exception-handling

Includes the code:

[code]

Which indicates that `task.result`will re-raise the expection. But actually it just outputs "Boom". It only re-raises if Task#wait is used.

[2022-02-11 21:12] travisbell commented on #138
Hey Sam, in another project that I am working on switching to Falcon, a gem I am using is doing something (I have yet to investigate the specifics) with a tempfile, and am getting the same error, but via a different caller:

[code]

So unlike the example above that was from `console`, this one is not. Thought it might help.

[2022-02-12 22:49] ioquatix commented on #138
Thanks, yes that's interesting.

I'm not sure how `Tempfile` is implemented but it should be reproducible, so I'll investigate this case too. Maybe there is some internal incompatibility with `tmpfs`?

[2022-02-17 10:00] bruno- opened #147 "Does async support using `Fiber.new(blocking: false, &block)` directly"
Hi,

In [fiber_scheduler gem](https://github.com/bruno-/fiber_scheduler) I'm using non-blocking fibers directly, like this:

[code]

The goal here is to create a raw fiber that's the equivalent of a "transient task".

But, I'm getting an error `Closing scheduler with blocked operations! (RuntimeError)` raised from the following line:

https://github.com/socketry/async/blob/456df488d801572821eaf5ec

[2022-02-18 07:40] ioquatix commented on #147
I believe it's incorrect to call `block` or `unblock` directly.

`Async` and `Fiber.schedule` are compatible together.

[2022-02-18 07:47] bruno- commented on #147
Thanks!

[2022-02-18 07:47] #147 closed

[2022-02-28 16:39] n0xite opened #153 "Error installing async:"
It seems I can't install async with 'gem install' in any way. Tried gem, bundler, uninstalling, reinstalling, different os. I also can't find an answer elsewhere.

**Error:**
[code]

[2022-02-28 18:29] #153 closed

[2022-03-07 08:09] ioquatix commented on #138
Is your file on a `tmpfs` or a regular fs? Do you mind telling me what kind of file system it's on?

[2022-03-07 08:24] ioquatix commented on #138
Also, it's odd that it's calling `io_wait` on a file, it means in CRuby, `flush` must have blocked some how.

[2022-03-07 08:40] ioquatix commented on #138
@travisbell are you running this in a container and redirecting to some kind of pipe, or is it definitely a local file?

[2022-03-07 16:05] travisbell commented on #138
Hey @ioquatix, ok, after some playing I have a pretty simple way I can reproduce it. First off, here's some observations:

1. The error changes to `Resource temporarily unavailable (Errno::EAGAIN)` on Ruby 3.1.1.
2. I cannot reproduce this on Mac OS, only my test Ubuntu container. We deploy on Ubuntu, so this was only showing up in production, not on local dev.
3. The problem only manifests itself

[2022-03-07 17:50] travisbell commented on #138
Related to my first point, I still see `Errno::EPERM` errors on 3.1.1, it's just not in the blocks of code I used above. So there's a subtle difference as to what is going on, and these specific ones seem harder to replicate.

[code]

[2022-03-07 18:51] mscrivo commented on #138
I am able to reproduce with @travisbell's sample code on our ubuntu 20.04 based containers as well.

[2022-03-07 23:00] ioquatix commented on #138
Great thanks for all this I'll take a look.

[2022-03-08 01:34] ioquatix commented on #153
I think our support for windows on Async 2.0 is bad, but this isn't my area I need some more time to sort out the core implementation on Linux which is higher priority, but there is a GSoC project for Windows IO URing.

[2022-03-08 06:06] ioquatix commented on #138
Okay, I was able to reproduce it as part of the test suite: https://github.com/socketry/async/runs/5458553188?check_suite_focus=true#step:4:284

[2022-03-08 07:04] ioquatix commented on #138
Looks like it might be related to

[code]

[2022-03-13 02:03] ioquatix commented on #138
This should be fixed in `io-event` v1.0.5 which I just released. Can you please try it out and let me know?

[2022-03-13 14:50] travisbell commented on #138
I bumped and deployed last night and haven't seen any since but it was always a bit sporadic. I'll give you another update tomorrow.

[2022-03-14 22:14] travisbell commented on #138
I'm pretty content to say 1.0.5 fixes the issues I was seeing. It's been 36 hours since I've seen the error, everything looks good.

[2022-03-14 22:53] ioquatix commented on #138
@travisbell feel free to close this issue when you are satisfied!

[2022-03-15 15:49] zhongxiao37 opened #157 "NameError: uninitialized constant ApplicationRecord if having two subtask for DB query"
Given that https://github.com/ged/ruby-pg/pull/397 is merged, I'm trying to use the `async` gem with latest `ruby-pg` in Rails 7. However, it seems that I could *not* use a database connection to two separated subtasks.

Here is the example:

### Error log

[code]

`app/models/post.rb`

[code]

`app/models/user.rb`

[code]

`app/controllers/application_controller.rb`

[code]

Gemfile
[code]

Gemfi

[2022-03-15 16:24] travisbell commented on #138
@mscrivo Have you had a chance to give the new version a try?

[2022-03-15 16:59] ioquatix commented on #157
Do you think it's load issue? make something wrong with Zeitwerk. Can you try adding `require 'application_record'` or some variation of that before the db model uses it?

[2022-03-17 15:20] paddor opened #158 "Task hangs during stop if there are more than two sub tasks (?)"
I'm on Ruby 3.1.1 and Async 2.0.1, Ubuntu 20.04. The following script hangs after the first Ctrl+C, but only if both sleeping tasks are active:

[code]

Maybe related to #137 but it also hangs with all `puts`  commented out.

[2022-03-17 15:39] ioquatix commented on #158
Thanks, I'll check it.

[2022-03-17 19:48] mscrivo commented on #138
All looking good from my end as well, thanks @ioquatix and @travisbell!

[2022-03-17 19:48] #138 closed

[2022-03-17 20:40] ioquatix commented on #138
Thanks everyone for your continued support and updates.

[2022-03-17 21:11] mscrivo commented on #138
Any particular reason the new version requires ruby 3.1.1? instead of 3.1.0?

[2022-03-18 04:55] ioquatix commented on #138
Yes, 3.1.0 has bugs.

[2022-03-24 09:53] fxn commented on #157
Do you have the `debug` gem in the `Gemfile`? If so, can you reproduce with the gem commented out?

[2022-04-01 09:36] dniman opened #159 "NoMethodError: undefined method `wait_any' for #<IO:fd 11>"
Hi,
When I tried to run this, I got NoMethodError: undefined method `wait_any'...
[code]

Error is in line 67 of wrapper.rb

[code]

[2022-04-01 11:04] dniman commented on #159
During debug I didn't find wait_any method, but there was wait. When I fixed it to
`@io.wait(timeout) or raise TimeoutError`
I got  #TypeError: can't convert NilClass into time interval

[2022-04-05 11:16] ioquatix commented on #159
I will check what's going on.

https://www.rubydoc.info/gems/async/1.28.9/Async%2FWrapper:wait_any

However, this might have changed in Async 2.0 - I'm still working through the entire eco-system and updating components.

[2022-04-06 23:52] pbstriker38 commented on #157
We also run across this issue with any class that we use in subtasks. Only on the first request, the second request will have the class loaded.

[2022-04-06 23:56] pbstriker38 commented on #157
Commenting out the `debug` gem does appear to have solved it 👍

[2022-04-07 00:24] ioquatix commented on #157
We have some issues with autoloading in Ruby 3.1.1 and I will try to back port a fix for Ruby 3.1.2 if possible. A solution is to disable autoloading where possible.

[2022-04-11 11:34] ioquatix commented on #157
https://github.com/ruby/ruby/pull/5788

[2022-04-22 13:47] morgoth opened #161 "Hanging on swallowed error"
This simple code hangs:
[code]

[code]
so when I raise TypeError by hand it properly interrupts and report an error, but hangs on the `sleep nil` which standalone raises TypeError

[2022-04-26 00:04] ioquatix commented on #161
Thanks @bruno- this is an interesting compatibility issue.

Since `sleep(nil)` is invalid in Ruby, maybe we could consider introducing this behaviour to make it consistent. Handling zero argument case rather than default argument = nil is less efficient in Pure Ruby than in C.

[2022-06-03 13:06] ioquatix commented on #137
This should be completely fixed on Ruby head.

[2022-06-03 13:07] ioquatix commented on #137
cc @mame FYI.

[2022-06-03 13:07] #137 closed

[2022-06-08 13:43] klobuczek opened #164 "Rspec spec does not terminate"
I cannot figure out why the spec in the 2nd context does not terminate:
[code]
Using ruby 3.1.2 and async 2.0.2.

[2022-06-09 03:01] ioquatix commented on #164
IIRC, this is because `let` blocks are "thread safe" and have an implicit shared mutex around every request. It's supposed to be reentrant but because `Sync { param }` happens on a different fiber, it's effectively a deadlock, i.e. it's not that different from:

[code]

To resolve `s` it locks the mutex for the current (main) thread. Then it creates a new thread (`Sync` block creates a new fiber)

[2022-06-22 15:22] Maaarcocr opened #171 "Allow to customise the kind of logging/reporting when an exception is thrown in a task"
Currently we log when an error is thrown in a task https://github.com/socketry/async/blob/809025c576a14317e40dd9e7e9584aabe2feb01c/lib/async/task.rb#L236 but there is no way to allow people to customise the kind of reporting that they want to do whenever an error is thrown.

For example, in my use case I'd like to use report these errors to something like Sentry and log them with a custom logger w

[2022-06-23 01:12] ioquatix commented on #171
You can configure the console with a different output, this is unrelated to async.

[2022-06-23 01:12] #171 closed

[2022-06-23 01:13] ioquatix commented on #171
See https://github.com/socketry/console-output-datadog/blob/main/lib/console/output/datadog/wrapper.rb for an example of how to amend logs. The output can either be a wrapper or a final destination, but for that I'd suggest you use the structured JSON formatter which is enabled automatically if the output is not a TTY.

[2022-07-17 12:01] gdonald opened #172 "NameError: uninitialized constant inside Async::Task"
I don't seem to have scope for my ActiveRecord model inside an `Async::Task`.

For my model named `F` I get:

`NameError: uninitialized constant F`

My implementation:

[code]

I also tried using `::F` but got the same error.

[2022-07-17 12:25] ioquatix commented on #172
Are you using autoload?

[2022-07-17 12:48] gdonald commented on #172
I haven't made any calls to `autoload`, no.

My `F` model is in scope just before my `Async do` block, not sure why it would then not be in scope a couple of lines later.  Does `Async` not follow normal Ruby scoping?

My code is fully loaded as far as I can tell.  I'm running this using `bundle exec rails console`, then inside there I run my `Async` code I posted above.

[2022-07-17 12:50] fxn commented on #172
Zeitwerk uses `Module#autoload`.

If you use fibers by hand you are in control, but custom fiber schedulers escape the synchronization of autoloads and constant references builtin in CRuby (for < 3.2 ?).

WIth current Ruby, the workaround is to load `F` before the `Async` call.

[2022-07-17 12:53] ioquatix commented on #172
IIRC, any reference `F` makes to autoload can also break in the same way (`NameError`). So it's not just that `F` should be in scope but any class `F` references.

[2022-07-17 12:55] ioquatix commented on #172
`config.eager_load = true` should do It (force all autoloads), can you try this @gdonald

[2022-07-17 12:58] fxn commented on #172
Correct. If the reference happens at class-level, it is going to be resolved in cascade. No problem in this case. However, if the methods being executed trigger autoloads in turn, you'd have the same sync issues. Eager loading is the safest bet if that is the case.

[2022-07-17 13:09] gdonald commented on #172
My ruby is:

[code]

Adding a call to `autoload` doesn't seem to help, I get the same `NameError` as before:

[code]

Also tried with `::F`.  Same.

[2022-07-17 13:11] ioquatix commented on #172
`autoload` is what is causing the problem. You'll need to add `config.eager_load = true`.

[2022-07-17 13:18] gdonald commented on #172
Ok, I guess I misunderstood.  I thought you guys were suggesting to make a manual call to `autoload`.

`config.eager_load = true` gets me to the next error.  Thanks.

My next error is `TypeError: true can't be coerced into Float`.  I'm supposed to return a Float from my task?

[2022-07-17 13:20] ioquatix commented on #172
Can you give me a line number or backtrace?

[2022-07-17 13:25] gdonald commented on #172
[code]

[2022-07-17 13:28] ioquatix commented on #172
You are probably calling `task.sleep(t)` with `t = nil`.

[2022-07-17 13:30] gdonald commented on #172
A boolean actually.  I changed it to `task.sleep(0.1)` and got it working.

[2022-07-17 13:31] gdonald commented on #172
Thanks for all your help :)

[2022-07-17 13:31] #172 closed

[2022-07-17 13:39] ioquatix commented on #172
You're welcome.

[2022-07-22 15:16] jedschneider commented on #118
changing the method call to `@reactor.sleep` avoids the error, but the second task:

[code]
  never seems to get executed. I agree, this is edge enough that more complete examples are really needed. Thanks for all the hard work pushing Ruby ahead in this space!

[2022-07-23 08:16] ioquatix commented on #118
I've updated the example, it should work correctly now. Feel free to ask more questions or suggest improvements.

[2022-07-23 08:16] #118 closed

[2022-07-23 17:58] zhulik opened #173 "Mentioning a gem in 'Projects Using Async'"
Hello,

I developed a gem based on async-websocket and I'm about to publish yet another one based on async-http.

Don't you mind if I open a PR and mention them in the `Projects Using Async` section of the readme?

[2022-07-24 21:44] ioquatix commented on #173
Sure just submit a PR.

[2022-07-24 21:44] #173 closed

[2022-07-26 23:18] zhulik commented on #62
Just in case if someone is looking for an implementation:

[code]

Usage:
[code]

The API is influenced by python's `asyncio.wait(tasks,return_when=asyncio.FIRST_COMPLETED)`

Personally I'd be happy to have a similar method defined on `Async`. Something like
`Async.wait(*tasks, mode: :all)` - awaits all tasks, a shortcut for `Barrier`, returns
`Async.wait(*tasks, mode: :first)` - awaits first, eit

[2022-07-27 01:08] ioquatix commented on #62
Sure sounds great, I don't have any strong opinions on the interface except that if it's fundamentally different from `wait` we should make a separate method.

[2022-07-27 10:09] zhulik commented on #62
What about `Async.wait_for`?

[2022-07-27 10:18] ioquatix commented on #62
Waiting for all tasks vs waiting for the first task are quite different things IMHO and the use case is different. Waiting for all tasks can be achieved by `tasks.each(&:wait)`. Waiting for the first N tasks to complete is more complex since you need to track all the tasks.

Needing to spawn N tasks to wait for the first task to finish out of N tasks seems like an anti-pattern.

We might need to c

[2022-07-27 10:45] zhulik commented on #62
A Barrier-like primitive?

[code]

[2022-07-27 11:07] ioquatix commented on #62
The most efficient implementation is something like this:

[code]

But that assumes we can force the user via this funnel.

[2022-07-27 11:10] ioquatix commented on #62
`Async::Barrier` already makes the assumption that users are going to call `barrier.async` so we could add the interface there for wait_for(n = 1)`???

[2022-07-27 11:14] zhulik commented on #62
In case if a task spawned with Waiter raises an exception your implementation will return it as a value, do I understend it correctly?

What if the task is supposed to return an instance of an exception(can't imagine a use case but it's possible in theory)? How to distinguish it from an actual exception raised from the task?

[2022-07-27 21:18] ioquatix commented on #62
It was just a MVP, you'd need to handle this correctly.

This is handled by `Fiber#raise` but no in this code. Again, we might need to consider how to deal with it.

The idea of a barrier is that it's stateful, you can call `wait(2)` several times until it's exhausted.

[2022-08-02 01:11] havenwood commented on #64
Just adding a note to please disregard my last comment since I was confused.

I was talking with @soutaro today about [ruby/gem_rbs_collection](https://github.com/ruby/gem_rbs_collection#readme) and it made me realize I totally misunderstood the purpose of the repo. Soutaro mentioned contributing to the `gem_rbs_collection` is really just for gem signatures maintained by someone outside the gem pr

[2022-08-23 10:31] zhulik opened #175 "FiberError: fiber called across threads when using async inside a sidekiq worker"
Hello,

for some time I use async inside sidekiq jobs, each job starts it's own reactor using this simple server middleware:
[code]
Code running in the job does not spawn any threads, but sidekiq itself is threaded, but I get `FiberError: fiber called across threads` from time to time.

Stacktrace:
[code]

What would be the best way to debug and fix it? Reduce concurrency of sidekiq to 1 and spawn

[2022-08-23 11:11] ioquatix commented on #175
Is any state shared between workers? i.e. global connection pool or something.

[2022-08-23 11:25] zhulik commented on #175
Maybe unintentionally, each thread is supposed to have it's own connection pool
[code]

[2022-08-23 11:27] ioquatix commented on #175
Is there any chance resources are being leaked across threads?

[2022-08-23 11:29] ioquatix commented on #175
The stack trace tells me that you have a fiber, possibly from a different thread, waiting on a resource or condition of a different thread.

[2022-08-23 11:33] ioquatix commented on #175
We could debug this by logging the thread the condition was created on and bombing out as soon as it fails:

[code]

[2022-08-23 12:21] zhulik commented on #175
Thanks a lot! Unfortunately I can't reproduce the issue locally, I'll deploy your snippet and wait till it explodes

[2022-08-24 10:33] zhulik commented on #175
Apparently this didn't help, I'm still getting exactly the same exception. Any hints what else classes I may monkey patch in the similar way?

[2022-08-24 10:59] ioquatix commented on #175
Hmm, that's odd, I tested it locally and it blew up. Let me check it again.

[2022-08-24 11:45] zhulik commented on #175
This snipped actually causes `Condition#transfer` to raise a `FiberError` once task is finished:
[code]

[code]

[2022-08-25 05:07] ioquatix commented on #175
Sorry, I didn't have time to look at this, I'll spend some time tonight.

[2022-08-25 12:05] zhulik commented on #175
You were absolutely right, the pool created in one thread may have been memoized and used from another thread. I removed the memoization and it fixed the issue

[2022-08-25 12:05] #175 closed

[2022-09-01 23:38] jpaulgs opened #176 "Memory leak when using Task#with_timeout"
[code]

Hey, I'm running ruby 3.1.2 and version 2.0.3 of the Async rubygem.  The code above is similar to what we are using. It exhibits a memory leak.  The following photo was from running this for about 15 minutes, it certainly never releases the memory.

![image](https://user-images.githubusercontent.com/30516993/188029733-a3272fa9-34e6-436a-9b58-002c28cfaa6f.png)

I'll keep digging to see what

[2022-09-01 23:42] jpaulgs commented on #176
Actually the LimitedQueue is irrelevant here, the following code also shows the issue

[code]

![image](https://user-images.githubusercontent.com/30516993/188030393-806622bb-5c80-4dae-97d9-aeb731c14d5b.png)

[2022-09-01 23:55] ioquatix commented on #176
Hmm, thanks for reporting this, I'll take a look.

[2022-09-02 01:22] ioquatix commented on #176
[code]

# Memory Profile

- Total Allocated: (28.00 MiB in 4000000 allocations)
- Total Retained: (7.00 MiB in 1000000 allocations)

## By Gem (288.00 MiB in 4000000 allocations)

- (288.00 MiB in 4000000 allocations)	timers-4.3.3

## By File (288.00 MiB in 4000000 allocations)

- (160.00 MiB in 2000000 allocations)	/home/samuel/.gem/ruby/3.1.2/gems/timers-4.3.3/lib/timers/timer.rb
- (88.00 MiB in

[2022-09-02 01:41] ioquatix commented on #176
I see what is going on.

https://github.com/socketry/timers/blob/64a745a8b2f28849786c8c683ed2a4ef2eb0ae47/lib/timers/events.rb#L71

In order to avoid scheduling timeouts which is expensive, we put them into a queue. Most timeouts are short lived and don't fire because the operation happens immediately.

e.g.

[code]

most of the time, `io.read` returns immediately, so we want the cost of the timeo

[2022-09-02 02:03] ioquatix commented on #176
Any time you context switch, the timers queue is flushed.

[2022-09-02 05:28] ZimbiX commented on #176
Thanks for the speedy assistance, @ioquatix!

Should we be adding the `timer.cancel` line to our code, or are you working on / thinking about something for doing that internally? I see you've just put up a [branch of `timers` here](https://github.com/socketry/timers/compare/event-queue-flush), which looks to be addressing the flushing aspect (cheers!), but not the cancel (yet)?

[2022-09-02 08:20] ioquatix commented on #176
I'm going to release an update to fix the issue in the timers gem.

[2022-09-02 09:18] ioquatix commented on #176
https://github.com/socketry/timers/commit/1ec78fbe59c934925e5f4a32fbd5a380c8120328 is the initial attempt at a fix, without introducing too much overhead.

To be honest, using a linked list here would make way more sense. My plan has always been to replace the timers gem with C implementation in `io-event` gem, I just haven't got around to it yet.

This should avoid the worst case, but it won't av

[2022-09-08 13:51] emiltin opened #178 "Guides are empty"
The web guides at e.g. https://socketry.github.io/async/guides/getting-started/index.html are empty.

[2022-09-08 14:10] emiltin opened #179 "transient task behaviour?"
Hi,
My understanding of using transient:true is that any child task will be terminated as soon as the parent task ends.

But I don't understand this:
[code]
Which immediately prints "done" for both async 1.30.3 and 2.1. Why does wait() have no effect here?

[2022-09-08 14:13] emiltin commented on #179
Or just:
[code]
Which also immediately prints "done".

[2022-09-08 21:32] ioquatix commented on #179
Transient tasks do not keep the reactor alive, so IIUC, it's exiting after the first iteration of the event loop because it's considered finished.

[2022-09-08 23:00] ioquatix commented on #178
Thanks, this is fixed.

[2022-09-08 23:00] #178 closed

[2022-09-09 08:06] emiltin commented on #179
OK I see.
My use case is that I want to run a task that uses some background child tasks. Once the main task completes, I want all childs (and grand childs) to be stopped immediately. Maybe the parent task can call stop on itself?

[2022-09-09 11:17] ioquatix commented on #179
Can you make the background tasks transient?

[2022-09-09 13:07] emiltin commented on #179
Yes I can make the background task transient, at least by wrapping them in a. transient task.

I think this is what I don't understand. If the task `task.sleep 10000` why is it immediately considered finished?
So in the example above, why does it immediately print 'done'?

Do they need a parent task that's not completed, to keep then running?

[2022-09-10 06:40] ioquatix commented on #179
Thanks for your questions. I'll try my best to answer it, but if it's not clear keep on asking.

Transient tasks do not keep the reactor alive even if they are busy, they will be stopped forcefully. This is by design. If you don't expect/want that behaviour, don't make transient tasks.

<img width="660" alt="image" src="https://user-images.githubusercontent.com/30030/189471758-1d2195b3-8f30-4264-8

[2022-09-14 09:37] conr opened #180 "SocketError: getaddrinfo: nodename nor servname provided, or not known"
Ruby version: `3.1.2`
async: `2.1.0`
async-http: `0.59.2`
OS: macOS Monterey

Getting the following error and stack trace when making any HTTP calls.

The example below is when running [this example](https://github.com/socketry/async-http#post-json-data) from the `async-http` readme.

What's interesting is that everything works if I downgrade the async gem to `1.30.3` 🤔

[code]

[2022-09-16 07:20] ioquatix commented on #180
Are you sure the hostname is correct?

Can you tell me the request from `client.rb:42`?

[2022-09-16 07:24] emiltin commented on #179
Thank you for the clear explanation.

I'm using this for RSpec testing of a tcp servers/clients. The server and the client normally run until stopped. For testing, I want to start them, then run some tests by communicating with them, and then make sure the client/server and all their possible subtask are terminated. That's why I looked running the server/cleint inside a transient task.

But if I u

[2022-09-16 07:30] ioquatix commented on #179
Can you please double check the code example formatting is correct? It might be missing a line or have an extra `end`.

[2022-09-16 09:52] conr commented on #180
I was testing with the URL provided in the `async-http` readme: https://httpbin.org/anything
Same deal if I use the actual URL, https://google.com.

Also tried with [these benchmarking scripts](https://gist.github.com/eldemcan/a8cbb513c013e992d1791c8e94412e52) and faced the same error.

Nope

[2022-09-16 10:09] emiltin commented on #179
Ah sorry. Fixed.

[2022-09-16 23:30] ioquatix commented on #179
In the 2nd case, is it true that the `Async do |task|` is the top level task? Otherwise, you can leak the transient task. In the first example, you are calling `task.stop` which will stop all children, but in the 2nd you aren't, if you have an outer async block, the transient task will re-parent.

[code]

[2022-09-16 23:52] ioquatix commented on #180
[code]

This is working fine for me on my M1 MacBook Pro. Are you on similar hardware?

Can you tell me what the following prints?

[code]

For macOS it should be `kqueue`.

Can you try running the original code with the following change to `resolv.rb`:

[code]

When I run this code, I do not call this method, so something about your DNS might be different. Do you have any firewall or network tool

[2022-09-16 23:56] ioquatix commented on #180
Can you also tell me the output of `scutil --dns`

[2022-09-20 08:29] conr commented on #180
I actually switched laptops yesterday to an Apple M1 Pro chip. Same error as before though.

<img width="270" alt="Screenshot 2022-09-20 at 09 17 57" src="https://user-images.githubusercontent.com/5826063/191205486-109b27e0-d985-40bb-8bd6-5645b8440561.png">

[code]

When I run the above I get: `IO::Event::Selector::Select`

`{"Addrinfo.ip"=>"fe80::1%en0"}`

I'm on a brand new machine now with the

[2022-09-20 09:34] ioquatix commented on #180
Do you have Xcode and compiler tools installed? The select backend is probably not working correctly I this specific case. I'll check it. Because you may not have the developer tools installed, it can't compile the kqueue backend.

[2022-09-20 09:43] conr commented on #180
I have Xcode Command Line Tools installed. I don't have Xcode itself installed (installing now).

[2022-09-20 10:21] ioquatix commented on #180
Can you please reinstall the `io-event` gem and check what selector is used by default?

[2022-09-21 01:49] ioquatix commented on #180
Can you checkout the code for `io-event`, `bundle update` and `bake build` then show me the output? Thanks!

[2022-09-21 08:43] conr commented on #180
[code]

[2022-09-21 08:51] conr commented on #180
Sure, it's `arm64`

[2022-09-21 10:15] ioquatix commented on #180
Can you try this:

[code]

Do you get KQueue?

[2022-09-21 10:16] conr commented on #180
![Screenshot 2022-09-21 at 11 16 28](https://user-images.githubusercontent.com/5826063/191479323-e1ac635f-9ed5-4ed2-af99-40949f4d7e20.png)

[2022-09-21 10:17] conr commented on #180
I do indeed

![Screenshot 2022-09-21 at 11 17 36](https://user-images.githubusercontent.com/5826063/191479554-84f78930-70fd-461e-85b2-c5ada01ab440.png)

[2022-09-23 09:49] ioquatix commented on #180
Can you try running the original code with the following change to `resolv.rb`:

[code]

In your system, it should be `.rbenv/versions/3.1.2/lib/ruby/3.1.0/resolv.rb`

[2022-10-04 09:12] conr commented on #180
`{"Addrinfo.ip"=>"fe80::1%en0"}`

(Apologies for the late response!)

[2022-10-04 10:10] ioquatix commented on #180
That's okay, it confirms what I found out in the linked issue, something is wrong with IPv6 addresses in `resolv.rb` - I can test this out and should be able to repro/fix.

[2022-10-18 09:37] paddor commented on #158
I was hoping this was fixed together with #137 but it's still happening with Ruby 3.2-preview2:

[code]

[code]

The process should terminate after the first ˆC, but hangs instead. The second one calls `Kernel#abort`.

My Gemfile (repos checked out at current master/main):
[code]

[2022-10-19 04:26] ioquatix commented on #158
Thanks for the update, I'll investigate.

[2022-10-19 16:24] yard opened #185 "Exception propagation in async tasks"
Hey guys,

Found a slightly unsettling piece of code within the library located at https://github.com/socketry/async/blob/main/lib/async/task.rb#L248

Could you please elaborate on the reason why `StandardError`s are not propagated up to the parent, whereas `Exception`s do?

While seemingly insignificant at first glance, it makes certain things less convenient. Consider the following code:
[code]

[2022-10-27 00:55] oeoeaio commented on #176
We have tested the changes to the timers gem and while they do appear to remove the accumulation of `Timers::Timer`, there is still a memory leak in our code (which uses a LimitedQueue as per the OP). Investigating further, we identified [this line](https://github.com/socketry/async/blob/main/lib/async/condition.rb#L38) as the culprit. It appears that when used in conjunction with a `Task.with_tim

[2022-10-27 19:24] ioquatix commented on #176
Thanks for this update.

[2022-10-31 04:23] ioquatix commented on #185
I was hoping you'd come back, but in any case, if you ran the code, you'd see it would log the errors.

Regarding your specific question:

Because StandardErrors are errors you can do something about and are propagated out of the task (promise) when calling wait. But Exceptions (like memory allocation failure) is generally not something you can do anything about, and thus it will kill the reactor.

[2022-10-31 04:23] #185 closed

[2022-10-31 04:36] #50 closed

[2022-10-31 04:39] #146 closed

[2022-10-31 04:41] ioquatix commented on #63
You can now follow this approach to suppress logging:

https://github.com/socketry/async/blob/a2cabe6967a57ec94f97b7266a1f75c70fc36d0f/config/sus.rb#L5

[2022-10-31 04:41] #63 closed

[2022-10-31 04:50] #117 closed

[2022-10-31 04:51] ioquatix commented on #117
@havenwood I investigate this, and found that the performance cost shouldn't be too much, so I implemented it.

[2022-10-31 04:55] ioquatix commented on #164
I got pretty frustrated with RSpec for this reason as well as others, and implemented https://github.com/ioquatix/sus which explicitly avoids this problem. I don't have a good answer and can't fix RSpec, maybe they will avoid having a mutex around their let variables.

[2022-10-31 04:55] #164 closed

[2022-10-31 04:58] ioquatix commented on #161
I think `sleep()` and `sleep(nil)` should be considered the same, but in CRuby it currently isn't. I don't have a solution. If you write this:

[code]

It's impossible to know if the time was nil because it was the default or the user provided nil. It's hard to replicate the CRuby interface.

[2022-10-31 05:01] ioquatix commented on #161
https://bugs.ruby-lang.org/issues/19094

[2022-10-31 05:01] #161 closed

[2022-10-31 06:56] ioquatix commented on #136
If you require any further help, let me know. Async 1.x for Ruby 2.7 and 3.0, Async 2.x for Ruby 3.1+, and Ruby 3.2 will be the first platform which I can be confident in production, since there are a couple of autoload bugs in 3.1.

[2022-10-31 06:56] #136 closed

[2022-10-31 06:59] ioquatix commented on #141
Coming back to this, there are some bugs in 3.0 which are fixed in 3.1, which make Async unstable in 3.0 which is why I set the minimum version to 3.1 - and there are some autoload bugs (which you can work around in 3.1) which are fixed in 3.2 - this would be the first release which should be production ready IMHO.

[2022-10-31 06:59] #141 closed

[2022-10-31 07:01] ioquatix commented on #157
This bug is fixed and will be released in Ruby 3.2. Sorry about that and thanks for your patience.

[2022-10-31 07:01] #157 closed

[2022-10-31 07:51] emiltin commented on #63
Thank you, I will try that.

[2022-10-31 08:03] ioquatix commented on #63
When we merge inherited fiber variables https://bugs.ruby-lang.org/issues/19078 this won't be such a hack, and you'll be able to write something like `Console.logger.off!`.

[2022-10-31 11:15] ioquatix commented on #158
I could reproduce the issue. I'll investigate more.

[2022-10-31 23:59] ioquatix commented on #62
We have introduced `Async::LimitedBarrier` for this purpose.

https://github.com/socketry/async/blob/main/lib/async/limited_barrier.rb

[2022-10-31 23:59] #62 closed

[2022-11-01 01:06] ioquatix commented on #64
I've thought about this.

I prefer to write the documentation and type signature in the code, as it's currently done.

Then, I want to convert this to RBS type signatures, and incorporate that where possible into type checking/documentation/etc.

I don't want to manually maintain the type signature nor do I think it should be in a separate gem (easy to get out of sync).

@soutaro do you have any t

[2022-11-01 01:07] ioquatix commented on #43
In Async 2.x world, all IO is now non-blocking, so this should be a non-issue. Please try it out and open a new issue if you are still having problems.

[2022-11-01 01:07] #43 closed

[2022-11-01 01:12] ioquatix commented on #78
Just for continuity, I'm still considering how best to integrate this feature: https://bugs.ruby-lang.org/issues/19056

[2022-11-01 08:29] ioquatix commented on #158
`Signal.trap` behaves strangely in an asynchronous context. We might be able to make it more robust, but we've got a specific construct to handle it - `Async::IO::Trap`. Let me review this code a bit more and see if there is a better more straight forward solution.

[2022-11-01 15:58] dsisnero opened #193 "Need to update io-event to latest for installation on windows"
Async doesnt install on windows becuase trying to install io-event-1.0.9 which doesn't install on windows.

[2022-11-01 19:53] ioquatix commented on #193
What version of async are you trying to install?

https://github.com/socketry/async/blob/v2.2.1/async.gemspec#L23

[2022-11-02 07:22] ioquatix commented on #179
I've written about this more in the documentation: https://socketry.github.io/async/guides/asynchronous-tasks/index.html#transient-tasks

[2022-11-02 13:25] dsisnero commented on #193
output of
`gem install async`  2>&1`

https://gist.github.com/dsisnero/36c026b73766aaa9333eb41ac913ff13

output of
`gem env`

https://gist.github.com/dsisnero/1d49921f086f981ee3b76075bdd74975

gem_make_out

https://gist.github.com/dsisnero/966d65ed6af8d0edbddc00bed312e124

[2022-11-06 19:53] tadman commented on #62
Aaaaaand it's gone?

[2022-11-06 20:00] trevorturk commented on #62
I think it was renamed https://github.com/socketry/async/pull/196

[2022-11-06 21:44] ioquatix commented on #62
I'm still thinking about this.

Oddly enough, this morning when I was half asleep I started going through the entire design in my head and my sub-concious figured out we don't need `Async::Waiter` either, since we can do the same implementation on `Async::Group` just as efficiently. I'll make a PR.

[2022-11-06 21:48] trevorturk commented on #62
I was wondering about `Group` as well since it could be pretty flexible in use.